<sbp-slideout-panel [preTitleText]="companyName"
                    [titleText]="'All Team Members'"
                    [itemCount]="teamGroupMemberCount"
                    (close)="onClose()">

    <!-- MAIN COLUMN -->
    <div class="main-container"
         fxLayout="column"
         fxFlexFill
         fxLayoutAlign="start stretch">
        <!-- BACK TO ALL TEAM MEMBERS ROW -->
        <div class="back-link"
             fxLayout="row"
             (click)="onBackToTeamMembersClick()">
            BACK TO ALL TEAM MEMBERS
        </div>
        <!-- MEMBER INFORMATION ROW -->
        <div class="section-row name"
             fxLayout="row"
             fxLayoutAlign="start start"
             fxLayoutGap="10px">
            <sbp-team-member-avatar [teamMember]="member"
                                    [forceLead]="isLead()"></sbp-team-member-avatar>
            <!-- PERSONAL INFO COLUMN -->
            <div fxLayout="row"
                 fxLayoutAlign="start start"
                 fxLayoutGap="5px">
                <div class="name_box"
                     fxLayout="column"
                     fxLayoutAlign="start start">
                    <!-- NAME ROW -->
                    <div fxLayout="row"
                         fxLayoutAlign="space-between center"
                         fxLayoutGap="5px">
                        <div class="member__header">{{member.name | titlecase}}</div>
                        <div class="lead_tag"
                             *ngIf="isLead()">LEAD</div>
                    </div>
                    <!-- COMM ROW -->
                    <div fxLayout="row"
                         fxLayoutGap="14px">
                        <!-- SLACK -->
                        <div fxLayout="row"
                             fxLayoutAlign="start center"
                             fxLayoutGap="5px">
                            <img matListAvatar
                                 src="assets/image/slack.png">
                            <div class="slack">{{member.slack | titlecase}}</div>
                        </div>
                        <!-- PHONE -->
                        <div fxLayout="row"
                             fxLayoutAlign="start center"
                             fxLayoutGap="5px"
                             class="row__icon phone">
                            <mat-icon>phone</mat-icon>
                            <div class="row__phone">{{member.mobile}}</div>
                        </div>
                        <!-- EMAIL -->
                        <div fxLayout="row"
                             fxLayoutAlign="start center"
                             fxLayoutGap="5px"
                             class="row__icon email">
                            <mat-icon>email</mat-icon>
                            <div class="row__email">{{member.email | uppercase | sbpEllipsis: 25}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BIOGRAPHY ROW -->
        <div class="section-row"
             fxLayout="column"
             fxLayoutAlign="start stretch"
             fxLayoutGap="10px">
            <div class="biography-label">BIOGRAPHY</div>
            <div class="biography-text"
                 *ngIf="bioExists">{{member.bio}}</div>
            <div class="biography-text"
                 *ngIf="!bioExists">[To Be Updated By User In Future Version]</div>
        </div>
        <!-- TEAM ROW OUT OF SCOPE FOR NOW, LEAVING IN CASE IT COMES BACK -->
        <!-- <div class="section-row"
             fxLayout="column"
             fxLayoutAlign="start stretch"
             fxLayoutGap="10px"> -->
        <!-- TEAM AND COUNT LABELS -->
        <!-- <div fxLayout="row"
                 fxLayoutAlign="start start">
                <div class="team-label">TEAM</div>
                <div class="team-count">({{teamGroupMemberCount}})</div>
            </div> -->
        <!-- TEAM MEMBER WIDGETS ROW -->
        <!-- <div fxLayout="row"
                 flLayoutAlign="start start"
                 fxLayoutGap="25px">
                <div *ngFor="let person of teamGroup.members">
                    <div fxLayout="row"
                         fxLayoutAlign="start start"
                         fxLayoutGap="8px">
                        <sbp-team-member-avatar [teamMember]="person"></sbp-team-member-avatar>
                        <div class="name_box"
                             fxLayout="column"
                             fxLayoutAlign="start start">
                            <div class="row__name">{{person.firstName | titlecase}}</div>
                            <div class="row__name">{{person.lastName | titlecase}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- RELATIONSHIPS ROW -->
        <div class="section-row"
             fxLayout="row"
             fxLayoutAlign="space-between start"
             fxLayoutGap="10px">
            <!-- COMPANIES COVERED COLUMN -->
            <div fxLayout="column"
                 fxLayoutAlign="start start"
                 fxFlex="50">
                <!-- COMPANIES COVERED LABELS -->
                <div fxLayout="row"
                     fxLayoutAlign="start start">
                    <div class="team-label">COMPANIES COVERED</div>
                    <div class="team-count">({{companiesCoveredCount}})</div>
                </div>
                <!-- COMPANIES COVERED WIDGET ROW -->
                <div *ngFor="let company of companiesCovered">
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                         fxLayoutGap="8px"
                         class="widget">
                        <img src="{{company.logo}}">
                        <div>{{company.name}}</div>
                    </div>
                </div>
            </div>
            <!-- BOARD SEATS COLUMN -->
            <div fxLayout="column"
                 fxLayoutAlign="start start"
                 fxFlex="50">
                <!-- BOARD SEATS LABELS -->
                <div fxLayout="row"
                     fxLayoutAlign="start start">
                    <div class="team-label">BOARD SEATS</div>
                    <div class="team-count">({{boardSeatsCount}})</div>
                </div>
                <!-- BOARD SEATS WIDGET ROW -->
                <div *ngFor="let seat of boardSeats">
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                         fxLayoutGap="8px"
                         class="widget">
                        <img src="{{seat.logo}}">
                        <div>{{seat.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sbp-slideout-panel>
