<div class="container"
     fxLayout="row"
     fxLayoutAlign="start start">

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Logo
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div class="logo-container"
         fxLayout="column"
         fxLayoutAlign="center stretch">
        <img class="logo"
             [src]="company.logo"
             [alt]="company.name">
    </div>

    <div fxLayout="column"
         fxLayoutAlign="space-between stretch"
         class="content-container">

        <!--
        ////////////////////////////////////////////////////////////////////////////////////
        // Company Name, Tags & % Ownership
        ////////////////////////////////////////////////////////////////////////////////////
        -->
        <div fxLayout="row"
             fxLayoutAlign="space-between start">

            <div fxLayout="column"
                 fxLayoutAlign="space-between stretch"
                 class="name-container">
                <div class="company-name">{{ company.name }}</div>
                <div fxLayout="row"
                     fxLayoutAlign="start center">
                    <div fxLayout="row"
                         fxLayoutAlign="space-between center"
                         class="tags-container">
                        <div *ngFor="let tag of tags"
                             class="tag">
                            {{ tag.name }}
                        </div>
                    </div>
                    <div>
                        <kendo-chart style="height: 35px; width: 35px;">
                            <kendo-chart-series>
                                <kendo-chart-series-item type="donut"
                                                         field="value"
                                                         colorField="color"
                                                         [data]="percentOwnershipChartData">
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                            <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                        </kendo-chart>
                    </div>
                    <div class="percent-owned">{{ company.percentOwnership * 100 }}% OWN</div>
                </div>
            </div>

            <div class="export-container hand-cursor export"
                 fxLayout="column"
                 fxLayoutAlign="center center">
                <div>Export</div>
            </div>

        </div>

        <!--
        ////////////////////////////////////////////////////////////////////////////////////
        // Description
        ////////////////////////////////////////////////////////////////////////////////////
        -->
        <div fxLayout="row"
             fxLayoutAlign="start center">
            <div class="description">{{ company.description }}</div>
            <div class="more-company-info hand-cursor"
                 (click)="onSeeMoreCompanyInfo(company.id)">
                More company info
            </div>
        </div>

        <!--
        ////////////////////////////////////////////////////////////////////////////////////
        // Border
        ////////////////////////////////////////////////////////////////////////////////////
        -->
        <div class="bottom-border"></div>

        <!--
        ////////////////////////////////////////////////////////////////////////////////////
        // Team Members
        ////////////////////////////////////////////////////////////////////////////////////
        -->
        <div fxLayout="row"
             fxLayoutAlign="start center"
             class="team-member-avatar-container">

            <div *ngFor="let teamMember of teamMembers"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 class="team-member-avatar-container">
                <sbp-team-member-avatar [teamMember]="teamMember"></sbp-team-member-avatar>
                <div fxLayout="column"
                     fxLayoutAlign="center stretch"
                     class="team-member-name">
                    <div>{{ teamMember.firstName }}</div>
                    <div>{{ teamMember.lastName }}</div>
                </div>

            </div>

            <div class="all-team-members hand-cursor"
                 (click)="onAllTeamMembersClick(company.id)">All Team Members</div>
        </div>

        <!--
        ////////////////////////////////////////////////////////////////////////////////////
        // Border
        ////////////////////////////////////////////////////////////////////////////////////
        -->
        <div class="bottom-border"></div>

        <div fxLayout="row"
             fxLayoutAlign="space-between stretch">

            <!--
            ////////////////////////////////////////////////////////////////////////////////////
            // Takeaways
            ////////////////////////////////////////////////////////////////////////////////////
            -->
            <div fxLayout="column"
                 fxLayoutAlign="space-between stretch"
                 fxFlex="40"
                 class="takeaways-container">

                <div fxLayout="row"
                     fxLayoutAlign="start center"
                     class="takeaways-header-container">

                    <div class="takeaways-header">Key Takeaways</div>
                    <div class="takeaways-total">({{ takeaways.length }})</div>
                    <div class="takeaways-date">Updated {{ company.takeawayDate | date : "MMM d, y" }}</div>

                </div>

                <div *ngFor="let takeaway of takeaways; let i = index"
                     fxLayout="row"
                     fxLayoutAlign="start center"
                     class="takeaway-item-container">

                    <div fxLayout="column"
                         fxLayoutAlign="center"
                         class="takeaway-item-badge">
                        {{ i + 1 }}
                    </div>
                    <div>{{ takeaway }}</div>

                </div>

                <div class="all-takeaways hand-cursor"
                     (click)="onSeeAllTakeaways(company.id)">
                    See all {{ takeaways.length }} takeaways
                </div>

            </div>

            <!--
            ////////////////////////////////////////////////////////////////////////////////////
            // Border
            ////////////////////////////////////////////////////////////////////////////////////
            -->
            <div class="right-border"></div>

            <!--
            ////////////////////////////////////////////////////////////////////////////////////
            // Amount Deployed
            ////////////////////////////////////////////////////////////////////////////////////
            -->
            <div fxLayout="column"
                 fxLayoutAlign="space-between stretch"
                 fxFlex="20">

                <div fxLayout="row"
                     fxLayoutAlign="center stretch">
                    <div class="deployed">Amount Deployed</div>
                    <div>&nbsp;</div>
                    <div class="deployed-denomination">($M)</div>
                </div>

                <div fxLayout="row"
                     fxLayoutAlign="center center">
                    <kendo-chart>
                        <kendo-chart-area [margin]="0"
                                          [width]="108"
                                          [height]="108"></kendo-chart-area>
                        <ng-template kendoChartDonutCenterTemplate>
                            <div fxLayout="column">
                                <div class="deployed-value">{{ currentInvested }}</div>
                                <div class="deployed-total">/ {{ currentApproved }}</div>
                            </div>
                        </ng-template>
                        <kendo-chart-series>
                            <kendo-chart-series-item type="donut"
                                                     [padding]="0"
                                                     [size]="5"
                                                     [margin]="0"
                                                     [holeSize]="48"
                                                     field="value"
                                                     colorField="color"
                                                     width="2"
                                                     [data]="amountDeployedChartData">
                            </kendo-chart-series-item>
                        </kendo-chart-series>
                        <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                    </kendo-chart>
                </div>

            </div>

            <!--
            ////////////////////////////////////////////////////////////////////////////////////
            // Border
            ////////////////////////////////////////////////////////////////////////////////////
            -->
            <div class="right-border"></div>

            <!--
            ////////////////////////////////////////////////////////////////////////////////////
            // Valuation
            ////////////////////////////////////////////////////////////////////////////////////
            -->
            <div class="container"
                 fxLayout="column"
                 fxLayoutAlign="space-between stretch"
                 fxLayoutGap="10px">
                <div fxLayout="row"
                     fxLayoutAlign="start start">
                    <div class="valuation">Valuation</div>
                    <div>&nbsp;</div>
                    <div class="valuation-denomination">($M)</div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="center stretch"
                     fxFlex>
                    <!-- LABEL COLUMN -->
                    <div fxLayout="column"
                         fxLayoutAlign="end end">
                        <div class="valuation-moic-gross">MOIC</div>
                        <div class="valuation-moic-gross">Gross IRR</div>
                    </div>
                    <!-- CURRENT COLUMN -->
                    <!-- YEAR PLUS 1 COLUMN -->
                    <!-- EXIT COLUMN -->
                    <div class="trend"
                         fxLayout="column"
                         fxLayoutAlign="center stretch">
                    </div>

                    <sbp-valuation [header]="'Current'"
                                   [value]="currentTotalValue | number:'1.1-1'"
                                   [moic]="currentMoic | number:'1.1-1'"
                                   [grossIrr]="currentIrr | number:'1.1-1'"
                                   [columnar]="true">
                    </sbp-valuation>

                    <div class="trend"
                         fxLayout="column"
                         fxLayoutAlign="center stretch">
                        <img src="assets/image/right-trend.svg">
                    </div>

                    <sbp-valuation [header]="'+1 year'"
                                   [value]="plusOneTotalValue | number:'1.1-1'"
                                   [moic]="plusOneMoic | number:'1.1-1'"
                                   [grossIrr]="plusOneIrr | number:'1.1-1'"
                                   [columnar]="true">
                    </sbp-valuation>

                    <div class="trend"
                         fxLayout="column"
                         fxLayoutAlign="center stretch">
                        <img src="assets/image/right-trend.svg">
                    </div>

                    <sbp-valuation [header]="'Exit'"
                                   [value]="exitTotalValue | number:'1.1-1'"
                                   [moic]="exitMoic | number:'1.1-1'"
                                   [grossIrr]="exitIrr | number:'1.1-1'"
                                   [columnar]="true">
                    </sbp-valuation>
                </div>

            </div>

        </div>

    </div>

</div>
