circle {
    fill: #ffffff;
    transition: all 0.3s ease-out;
    width: 12px;
    height: 12px;
    border-width: 3px;
    box-shadow: 0 2px 4px 0 rgba(18, 79, 140, 0.1);
    border-style: solid;
    stroke-width: 2;
    stroke: #124f8c;

}

circle.dot {
    display: none;
}

circle.projected {
    fill: #ffffff;
    transition: all 0.3s ease-out;
    width: 12px;
    height: 12px;
    border-width: 3px;
    box-shadow: 0 2px 4px 0 rgba(18, 79, 140, 0.1);
    border-style: solid;
    stroke-width: 2;
    stroke: #124f8c;
}


:host {
    ::ng-deep {
        circle {
            fill: #ffffff;
            transition: all 0.3s ease-out;
            width: 12px;
            height: 12px;
            border-width: 3px;
            box-shadow: 0 2px 4px 0 rgba(18, 79, 140, 0.1);
            border-style: solid;
            stroke-width: 1;
            stroke: #124f8c;

            &.dot {
                fill: #ffffff;
                transition: all 0.3s ease-out;
                width: 12px;
                height: 12px;
                border-width: 3px;
                box-shadow: 0 2px 4px 0 rgba(18, 79, 140, 0.1);
                border-style: solid;
                stroke-width: 2;
                stroke: #124f8c;
            }

            &.projected {
                stroke-width: 5;
            }

            &.focus {
                fill: none;
                stroke: steelblue;
            }
        }


    }
}
