@import "variables";
@import "~@progress/kendo-theme-default/scss/popup";
@import "~@progress/kendo-theme-default/scss/badge";
@import "~@progress/kendo-theme-default/scss/tooltip";
@import "~@progress/kendo-theme-default/scss/responsivepanel";
@import "~@progress/kendo-theme-default/scss/dataviz";
@import "variables";

.image-icon {
    width: 20px;
    height: 26.5px;
    padding: 3px 6px 0px 6px;
    background-color: $pale-grey;
    left: 0px;
    position: absolute;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    top: 0px;
}

/**
    This is for the company selector dropdown menu
 */
.k-popup {
    background-color: $white !important;

    kendo-list {
        .k-list-scroller {
            li {
                &.k-item {
                    height: 32px;

                    img.icon {
                        /** This is the menu item icn */
                        @extend .image-icon;
                        width: 20px;
                        height: 24px;
                        padding: 0;
                        left: 7px;
                        background: none;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        //background-color: $white
                    }

                    div.label {
                        padding-left: 30px;
                        font-family: PostGrotesk;
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.25px;
                        color: $dark;

                    }

                    &.k-state-focused {
                        box-shadow: none;
                        background-color: rgba($light-navy, .3);

                        .icon {
                            background-color: rgba($light-navy, .3);
                        }

                        &.k-state-selected {
                            background-color: rgba($light-navy, .3);
                        }
                    }
                }
            }
        }
    }
}

kendo-chart {
    border: none !important;
}

kendo-dropdownlist {
    height: 32px;

    .k-dropdown-wrap {
        background-color: $white !important;
        border-radius: 6px;
        border-color: rgba($light-grey-blue, .5);
        background-image: none !important;

        &:hover {
            border-color: rgba($dark-sky-blue, .5);
        }

        &:active {
            border-color: $dark-sky-blue;
        }

        .k-select {
            border-width: 0;

            .k-icon k-i-arrow-s {
                color: $light-navy;
            }
        }

        .icon {
            @extend .image-icon;

        }

        .label {
            padding-left: 30px;
            background-color: white;
            font-family: PostGrotesk;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
            color: $light-navy;
        }
    }
}
