@import "../../../../assets/scss/variables.scss";

:host {

    ::ng-deep {
        .container {
            margin-bottom: 2em;
            background: white;
            padding: 0.6em 1em;
            margin: 0.5em;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
            background-color: white;
            border-radius: 6px;
            align-self: flex-start;
        }

        .select-line {
            width: 1px;
            border: solid 1px $light-periwinkle;
        }

        .dot {
            fill: #ffffff;
            width: 12px;
            height: 12px;
            border-width: 3px;
            box-shadow: 0 2px 4px 0 rgba(18, 79, 140, 0.1);
            border-style: solid;
            stroke-width: 1;
            stroke: #124f8c;
        }

        .dot-display {
            display: none;
        }

        .present-line {
            stroke: #6F257F;
            stroke-width: 2px;
            stroke-dasharray: 3, 3;
        }

        .projected {
            stroke: #6F257F;
            stroke-width: 2px;
            stroke-dasharray: 3, 1;
        }

        .y-axis-label {
            fill: #34495e;
            font-size: 1.4em;
            text-anchor: middle;
            transform: rotate(-90deg);

            .display {
                //display: none;
                stroke-width: 2;
                display: none;

                &-none {
                    display: none;
                }
            }

            .y-axis-label {
                fill: #34495e;
                font-size: 1.4em;
                text-anchor: middle;
                transform: rotate(-90deg);
            }



            .x-axis-label {
                display: none;
            }



        }

    }

    #container {
        width: 334px;
        height: 165px;
        border-radius: 6px;
        background-color: white;
    }

    div .card {
        width: 334px;
        height: 165px;
        border-radius: 6px;
        background-color: white;
    }

}

// .axis-grid .x .axis .x-line line {


.axis-grid line {
    opacity: 0.75;
    shape-rendering: crispEdges;
    stroke: $light-navy;
    stroke-dasharray: 3, 3;
}

.tick {
    display: none;
}

.startline {
    stroke: $light-navy;
    stroke-width: 3px;
    stroke-opacity: 0.5;
    stroke-dasharray: 2, 2;
}
