<div fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="20px">
    <!-- Currency Selector -->
    <div class="currency-selector"
         *ngIf="showCurrencySelector">
        <kendo-buttongroup [selection]="'single'">
            <button kendoButton
                    [toggleable]="true"
                    [selected]="getDefaultCurrencySelected()"
                    [value]="currencies.USD"
                    [disabled]="!alternateCurrency"
                    (click)="onCurrencyChange(currencies.USD)">{{ currencies.USD.currencySymbol }} {{ currencies.USD.currencyCode }}</button>
            <button kendoButton
                    *ngIf="showAlternateCurrency()"
                    [toggleable]="true"
                    [selected]="getAlternateCurrencySelected()"
                    [value]="alternateCurrency"
                    (click)="onCurrencyChange(alternateCurrency)">{{ getAltCurrencySymbol() }} {{ getAltCurrencyName()}}</button>
        </kendo-buttongroup>
    </div>

    <!-- Date Unit Selector -->
    <div class="date-unit-selector">
        <kendo-buttongroup [selection]="'single'"
                           *ngIf="showDateUnitSelector">
            <button kendoButton
                    [toggleable]="true"
                    [selected]="selectedDatePartType === dateunits.QTR"
                    [value]="dateunits.QTR"
                    (click)="onDatePartChange(dateunits.QTR)">{{ dateunits.QTR.name }} </button>
            <button kendoButton
                    [toggleable]="true"
                    [selected]="selectedDatePartType === dateunits.YEAR"
                    [value]="dateunits.YEAR"
                    (click)="onDatePartChange(dateunits.YEAR)">{{ dateunits.YEAR.name }} </button>
        </kendo-buttongroup>
    </div>

    <!-- FYE -->
    <div class="fye"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="5px">
        <div>FYE:</div>
        <div>{{fye}}</div>
    </div>

    <!-- Period Selector -->
    <div class="period-selector"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="10px">
        <img src="assets/image/as-of-dot-line.svg">
        <div>As of:</div>
        <sbp-iconized-searchable-combo class="combo"
                                       [textField]="getPeriodIdField()"
                                       [valueField]="'id'"
                                       [showFilter]="false"
                                       [mainIconSrc]="'assets/image/calendar.svg'"
                                       [selectedItem]="selectedPeriod"
                                       [popupSettings]="popupSettings"
                                       (selectionChange)="onPeriodChange($event)"
                                       [listItems]="getPeriods()">
        </sbp-iconized-searchable-combo>
    </div>

    <!-- Historical Results -->
    <div class="historical-results"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="10px">
        <span class="legend"></span>
        <div>Historical Results:</div>
        <div>{{ historicalCount}} {{ getSelectedDatePartNameHistorical() }}</div>
        <div>({{ historicalStart | date: 'MMM yyyy'}} - {{ historicalEnd | date: 'MMM yyyy' }})</div>
    </div>

    <!-- Projected Results -->
    <div class="projected-results"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="10px">
        <span class="legend"></span>
        <div>Projected Results:</div>
        <div>{{ projectedCount}} {{ getSelectedDatePartNameProjected()  }}</div>
        <div>({{ projectedStart | date: 'MMM yyyy'}}
            <span *ngIf="projectedCount > 1"> - {{ projectedStart | date: 'MMM yyyy' }}</span>)</div>
    </div>

</div>
