<sbp-slideout-panel [preTitleText]="company?.name"
                    [titleText]="'Company Info'"
                    (close)="onClose()">

    <!-- MAIN CONTAINER -->
    <div class="main"
         fxFlexFill
         fxLayout="column"
         fxLayoutAlign="start stretch"
         fxLayoutGap="15px">

        <!-- DESCRIPTION SECTION ROW -->
        <div class="description"
             fxLayout="row">
            {{company.description}}
        </div>
        <!-- TAGS SECTION ROW -->
        <div fxLayout="row"
             fxLayoutGap="5px"
             fxLayoutAlign="start center"
             class="tag__row">
            <div class="tag"
                 *ngFor="let sector of getCompanySectors()"
                 fxLayout="column"
                 fxLayoutAlign="center start">
                <div class="tag__text">{{sector.name | uppercase}}</div>
            </div>
            <img class="tag__img-slack"
                 matListAvatar
                 src="assets/image/slack.png">
            <div class="slack__text">{{company.slackName | uppercase}}</div>
            <div class="tag__img">
                <kendo-chart class="tag__img">
                    <kendo-chart-series>
                        <kendo-chart-series-item type="donut"
                                                 [data]="chartData"
                                                 field="value">
                            <!-- <kendo-chart-series-item-labels
                          [content]="labelContent"
                          color="#fff" background="none">
                        </kendo-chart-series-item-labels> -->
                        </kendo-chart-series-item>
                    </kendo-chart-series>
                    <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                </kendo-chart>
            </div>
            <div class="ownership__text">{{getOwnershipPercent()}}% OWNERSHIP</div>
        </div>
        <!-- DATA SECTION ROW -->
        <div class="data"
             fxLayout="row"
             fxFlex
             fxLayoutAlign="space-between stretch">
            <div class="data__left-column"
                 fxFlex="50%"
                 fxLayout="column"
                 fxLayoutAlign="start stretch">
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div fxLayout="row"
                             class="data__label">Legal Name:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div fxLayout="row"
                             class="data__value">{{company.aka}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">Year of Incorporation:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.yearOfIncorporation}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">HQ Country:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.headquarters}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">CEO:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.ceo}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">Website:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="web-site"><a href="http://{{company.website}}"
                               target="_blank">{{company.website}}</a></div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">Company Type:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.type}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">Revenue Stage:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.revenueStage}}</div>
                    </div>
                </div>
            </div>

            <div class="data__right-column"
                 fxFlex="50%"
                 fxLayout="column"
                 fxLayoutAlign="start stretch">
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">Fund:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.fund}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">Initial Investment Date:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.initialInvestment}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">Last Follow-On Date:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.lastFollowOn}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">Reporting Currency:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.defaultCurrency.currencyCode}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">Fiscal Year End:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.fiscalYearEnd.day}} {{company.fiscalYearEnd.month}}</div>
                    </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__label">SoftBank Ticker:</div>
                    </div>
                    <div fxFlex="50%"
                         fxLayout="column"
                         fxLayoutAlign="start stretch">
                        <div class="data__value">{{company.internalTicker}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BOARD MEMBERS ROW -->
        <div fxLayout="row"
             class="board_members_row">
            <sbp-board-member [boardMembers]="boardMembers"></sbp-board-member>
        </div>
    </div>

</sbp-slideout-panel>
