swagger: "2.0"
info:
  description: "These are the Swagger definitions for SoftBank API"
  version: "1.0.0"
  title: "SoftBank API"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "someapi.somewhere.com"
basePath: "/v1"
tags:
  - name: "company"
    description: "APIs for accessing Company related Entities"
schemes:
  - "https"
  - "http"
paths:
  /score:
    get:
      tags:
        - "score"
      summary: "Retrieve score details about a portfolio"
      description: ""
      operationId: "getPortfolioScoreDetails"
      parameters:
        - name: "id"
          in: "path"
          description: "Id for the portfolio summary being requested"
          required: true
          type: "number"
      produces:
        - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ScoreDetail"
        400:
          description: "Invalid status value"
  /companies:
    get:
      tags:
        - "company"
      summary: "Returns a list of company domain objects."
      description: "Returns a list of company domain objects."
      operationId: "getAllCompanies"
      produces:
        - "application/json"
      parameters:
        - name: "groupBy"
          in: "query"
          description: "Optional group by param that directs the API to return results in a grouped fashion - NONE would return one group with all companies"
          required: false
          type: "string"
          default: "NONE"
          enum:
            - "NONE"
            - "REGION"
            - "SCORE"
            - "MOIC"
            - "IRR"
            - "INVESTED"
            - "VALUATION"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CompanyListResponse"
        400:
          description: "Invalid request"
        404:
          description: "Companies not found"
      security:
        - api_key: []
  /companies/{companyId}:
    get:
      tags:
        - "company"
      summary: "Returns a single company domain object by requested ID."
      description: "Returns a single company domain object by requested ID"
      operationId: "getCompanyById"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of the requested Company"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Company"
        400:
          description: "Invalid request"
        404:
          description: "Companies not found"
      security:
        - api_key: []
  /company/{companyId}/initiatives:
    get:
      tags:
        - "initiatives"
      summary: "Find initiatives for specific companyId"
      description: "Returns an array of CompanyInitiative"
      operationId: "getInitiativesByCompanyId"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of the Company for which to return Iniatives"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CompanyInitiatives"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Company not found"
      security:
        - api_key: []
  /company/{companyId}/updates:
    get:
      tags:
        - "updates"
      summary: "Find updates for specific companyId"
      description: "Returns an array of CompanyUpdate"
      operationId: "getUpdatesByCompanyId"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of the Company for which to return Updates"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CompanyUpdates"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Company not found"
      security:
        - api_key: []
  /company/{companyId}/revenue:
    get:
      tags:
        - "revenue data"
      summary: "Gets revenue data for specific companyId"
      description: "Returns an array of CompanyRevenueResponse"
      operationId: "getRevenueByCompanyId"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of the Company for which to return revenue"
          required: true
          type: "integer"
          format: "int64"
        - in: query
          name: "currency"
          type: "string"
          required: true
          description: "Value representing currency, either usd or jpy"
        - in: query
          name: "timeFrame"
          type: "string"
          required: true
          description: "One of monthly, quarterly, yearly"
        - in: query
          name: "endDate"
          type: "string"
          required: true
          description: "Ending date of the returned range, not including projection"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CompanyRevenue"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Company not found"
      security:
        - api_key: []
  /portfolio/:id:
    get:
      tags:
        - "portfolio"
      summary: "Retrieve summary information about the portfolio"
      description: ""
      operationId: "getPortfolioSummary"
      parameters:
        - name: "id"
          in: "path"
          description: "Id for the portfolio summary being requested"
          required: true
          type: "number"
      produces:
        - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PortfolioSummary"
        400:
          description: "Invalid status value"
  /team:
    get:
      tags:
        - "team"
      summary: "Retrieve list of companies within the portfolio"
      description: ""
      operationId: "getPortfolioTeam"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "path"
          description: "Id for the portfolio summary being requested"
          required: true
          type: "number"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Team"
        400:
          description: "Invalid status value"
securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
      status:
        type: "string"
        description: "Simple string value of `success` or `failed`."
      message:
        type: "string"
        description: "Simple string message that can provide additional detail on the API response; perhaps with details on the data returned."
      data:
        type: "object"
        description: "Container for APi request data. Can be an object container or array container. Should be used by the client to create domain models or similar."
      errors:
        type: "array"
        description: "List of errors associated with the API request."
        items:
          $ref: '#/definitions/ApiError'
  ApiError:
    type: "object"
    properties:
      code:
        description: "Specific API error code that clients can use to map to unique error messages or create specific error flows."
        type: "integer"
      field:
        type: "string"
        description: "Used when form POSTs with specific field errors and indicates the field name in the request."
      message:
        type: "string"
        description: "Custom message provided by the API for the error."
      id:
        type: "string"
        description: "UUIDv4 used to track errors in logs especially when using PII data that's omitted from logs."
  BoardMember:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      sinceDate:
        type: "string"
      company:
        type: "string"
      phone:
        type: "string"
      email:
        type: "string"
      avatar:
        type: "string" 
  Company:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
        description: "Displayed in the company header."
      description:
        type: "string"
        description: "Displayed in the company header under the tags."
      type:
        type: "string"
      sectors:
        type: "array"
        items:
          $ref: '#/definitions/Sector'
      regions:
        type: "array"
        items:
          $ref: "#/definitions/Region"
      funds:
        type: "array"
        items:
          $ref: "#/definitions/Fund"
      score:
        type: "number"
      amountInvested:
        type: "number"
      deployed:
        type: "number"
        description: "Displayed in the company header to the right of the takeaways."
      currentValuation:
        type: "number"
      moic:
        type: "number"
      irr:
        type: "number"
      logo:
        type: "string"
      revenue:
        type: "array"
        items:
          $ref: '#/definitions/CompanyRevenue'
      tags:
        type: "array"
        items:
          $ref: '#/definitions/Tag'
      percentOwnership:
        type: "string"
        description: "Displayed in the company header to the right of the tags."
      #      Note: This should be accomplished via the /team endpoint which includes deal team and other team info and is useful elsewhere
      #      dealTeam:
      #        type: "array"
      #        description: "Displayed in the company header under the description as a list."
      #        items:
      #          $ref: '#/definitions/TeamMember'
      takeaways:
        type: "array"
        items:
          $ref: '#/definitions/Takeaway'
      takeawayDate:
        type: "string"
        description: "Displayed in the company header with the list of takeaways."
      valuation:
        $ref: '#/definitions/ValuationDetail'
      initiatives:
        type: "array"
        items:
          $ref: '#/definitions/CompanyInitiatives'
      companyUpdates:
        type: "array"
        items:
          $ref: '#/definitions/CompanyUpdates'
      slackName:
        type: "string"
      slackUrl:
        type: "string"
      aka:
        type: "string"
      headquarters:
        type: "string"
      founders:
        type: "array"
        items:
          type: "string"
      foundedDate:
        type: "string"
      website:
        type: "string"
      stage:
        type: "string"
        enum:
          - "PRIVATE"
          - "PUBLIC"
      fiscalYearEnd:
        type: "string"
      investingEntity:
        type: "string"
      initialInvestmentDate:
        type: "string"
      latestFollowOnDate:
        type: "string"
      FDOwnership:
        type: "string"
      boardMembers:
        type: "array"
        items:
          $ref: "#/definitions/BoardMember"
  CompanyInitiatives:
    type: array
    items:
      $ref: '#/definitions/CompanyInitiativeResponse'
  CompanyInitiativeResponse:
    type: "object"
    properties:
      id:
        type: "string"
        description: "Unique ID for initiative"
      status:
        type: "string"
        description: "Initiative Status"
      title:
        type: "string"
        description: "Title of the initiative"
      owner:
        type: "string"
        description: "Owner of the initiative"
      description:
        type: "string"
        description: "Description for the initiative"
    xml:
      name: "Order"
  CompanyListGroup:
    type: "object"
    properties:
      groupName:
        type: "string"
      companies:
        type: "array"
        items:
          $ref: "#/definitions/Company"
  CompanyListResponse:
    type: array
    items:
      $ref: '#/definitions/CompanyListGroup'
  CompanyUpdates:
    type: array
    items:
      $ref: '#/definitions/CompanyUpdateResponse'
  CompanyUpdateResponse:
    type: "object"
    properties:
      id:
        type: "string"
        description: "Unique ID for initiative"
      status:
        type: "string"
        description: "Initiative Status"
      title:
        type: "string"
        description: "Title of the update"
      owner:
        type: "string"
        description: "Owner of the update"
      date:
        type: "string"
        description: "Date for the update"
    xml:
      name: "Order"
  CompanyRelationship:
    type: "object"
    properties:
      memberId:
        type: "integer"
        description: "the id of the member"
      companyId:
        type: "integer"
        description: "the id of the company"
      relationship:
        type: "string"
        enum:
          - "OTHER_COMPANY"
          - "COMPANY_COVERED"
          - "BOARD_SEAT"
  CompanyRevenue:
    type: array
    items:
      $ref: '#/definitions/CompanyRevenueResponse'
  CompanyRevenueResponse:
    type: "object"
    properties:
      companyId:
        type: "string"
        description: "Company ID for data"
      projected:
        type: "boolean"
        description: "Whether the entity represents historic or projected data"
      revenue:
        type: "number"
        description: "Actual Revenue Data"
      PY:
        type: "number"
        description: "PY Data"
      IC:
        type: "number"
        description: "IC Data"
      budget:
        type: "number"
        description: "Budget Data"
      forecast:
        type: "number"
        description: "Forecast Data"
      comment:
        type: "string"
        description: "Comment associated with a particular data point"
      confidence:
        type: "string"
        description: "Represents a confidence level in the data point"
    xml:
      name: "Order"
  Contact:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      companyName:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      avatar:
        type: "string"
      slack:
        type: "string"
      mobile:
        type: "string"
      email:
        type: "string"
      bio:
        type: "string"
      position:
        type: "string"
  Fund:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        description: "name of the fund"
      descrtiption:
        type: "string"
        description: "description of the fund"
  PortfolioSummary:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      invested:
        type: "number"
      valuation:
        type: "number"
      totalFund:
        type: "number"
      companies:
        type: "array"
        items:
          type: "integer"
          description: "array of ids representing the companies within the portfolio"
  Region:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        description: "name of the region"
      descrtiption:
        type: "string"
        description: "description of the region"
  ScoreDetail:
    type: "object"
    properties:
      companyId:
        type: "integer"
      percentChange:
        type: "number"
      changeOverDuration:
        type: "string"
      overall:
        type: "number"
      breakdown:
        type: "array"
        items:
          $ref: "#/definitions/ScoreDetailGroup"
  ScoreDetailGroup:
    type: "object"
    properties:
      score:
        type: "number"
      name:
        type: "string"
      comments:
        type: "array"
        items:
          type: "object"
          properties:
            comment:
              type: "string"
            updated:
              type: "string"
      members:
        type: "array"
        items:
          $ref: "#/definitions/TeamMember"
      history:
        type: "array"
        items:
          type: "object"
          properties:
            label:
              type: "string"
            score:
              type: "number"
  Sector:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        description: "The name of the industry"
      description:
        type: "string"
        description: "Long form description of the industry (ie, for tooltips)"
  Tag:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
  Takeaway:
    type: "object"
    properties:
      id:
        type: "string"
      content:
        type: "string"
  Team:
    type: "object"
    properties:
      groups:
        type: "array"
        items:
          $ref: "#/definitions/TeamMemberGroup"
  TeamMember:
    allOf:
      - $ref: "#/definitions/Contact"
      - type: "object"
        properties:
          companyRelationships:
            type: "array"
            items:
              $ref: "#/definitions/CompanyRelationship"
  TeamMemberGroup:
    type: "object"
    properties:
      category:
        type: "string"
        enum:
          - "DEAL"
          - "OPS"
          - "PORTFOLIO"
          - "FINANCE"
      members:
        type: "array"
        items:
          $ref: "#/definitions/TeamMember"
  ValuationDetail:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      desc:
        type: "string"
      entry:
        type: "number"
      current:
        type: "number"
      yearOne:
        type: "number"
      yearTwo:
        type: "number"
      yearThree:
        type: "number"
      exit:
        type: "number"

