swagger: "2.0"
info:
  description: "These are the Swagger definitions for SoftBank API"
  version: "1.0.0"
  title: "SoftBank API"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "someapi.somewhere.com"
basePath: "/v1"
tags:
  - name: "company"
    description: "APIs for accessing Company related Entities"
schemes:
  - "https"
  - "http"
paths:
  /companies:
    get:
      tags:
        - "company"
      summary: "Returns a list of company domain objects."
      description: "Returns a list of company domain objects."
      operationId: "getAllCompanies"
      produces:
        - "application/json"
      parameters:
        - name: "groupBy"
          in: "query"
          description: "Optional group by param that directs the API to return results in a grouped fashion - NONE would return one group with all companies"
          required: false
          type: "string"
          default: "NONE"
          enum:
            - "NONE"
            - "REGION"
            - "SECTOR"
            - "STAGE"
            - "MOIC"
            - "IRR"
            - "INVESTED"
            - "VALUATION"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/CompanyListResponse"
        400:
          description: "Invalid request"
        404:
          description: "Companies not found"
  /companies/{companyId}:
    get:
      tags:
        - "company"
      summary: "Returns a single company domain object by requested ID."
      description: "Returns a single company domain object by requested ID"
      operationId: "getCompanyById"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of the requested Company"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Company"
        400:
          description: "Invalid request"
        404:
          description: "Companies not found"
  /companies/{companyId}/revenue:
    get:
      tags:
        - "revenue data"
      summary: "Gets revenue data for specific companyId"
      description: "Returns an array of DataSeriesResponse"
      operationId: "getRevenueByCompanyId"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of the Company for which to return revenue"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DataSeriesResponse"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Company revenue data not found"
  /companies/{companyId}/valuation:
    get:
      tags:
        - "valuation data"
      summary: "Gets valuation data for specific companyId"
      description: "Returns a Valuation object"
      operationId: "getValuationByCompanyId"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of the Company for which to return valuation"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Valuation"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Company valuation data not found"
  /companies/{companyId}/cashburn:
    get:
      tags:
        - "cashburn data"
      summary: "Gets cashburn data for specific companyId"
      description: "Returns an array of DataSeriesResponse"
      operationId: "getCashburnByCompanyId"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of the Company for which to return revenue"
          required: true
          type: "integer"
          format: "int64"
        - in: query
          name: "currency"
          type: "string"
          required: true
          description: "Value representing currency, either usd or jpy"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DataSeriesResponse"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Company cashburn data not found"
  /companies/{companyId}/ebitda:
    get:
      tags:
        - "ebitda data"
      summary: "Gets ebitda data for specific companyId"
      description: "Returns an array of DataSeriesResponse"
      operationId: "getEbitdaByCompanyId"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "ID of the Company for which to return ebitda"
          required: true
          type: "integer"
          format: "int64"
        - in: query
          name: "currency"
          type: "string"
          required: true
          description: "Value representing currency, either usd or jpy"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DataSeriesResponse"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Company ebitda data not found"
  /companies/{companyId}/team-members:
    get:
      tags:
        - "team"
      summary: "Retrieve list of teams/members for this company"
      description: ""
      operationId: "getTeamMembersForCompany"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "Id for the portfolio summary being requested"
          required: true
          type: "number"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Team"
        400:
          description: "Invalid status value"
  /companies/{companyId}/team-members/{teamMemberId}:
    get:
      tags:
        - "team"
      summary: "Retrieve specifica for a selected team member"
      description: ""
      operationId: "getTeamMemberForCompany"
      produces:
        - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: "Id for the portfolio company being requested"
          required: true
          type: "number"
        - name: "teamMemberId"
          in: "path"
          description: "Id for the team member summary being requested"
          required: true
          type: "number"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TeamMember"
        400:
          description: "Invalid id"
  /portfolio/{id}:
    get:
      tags:
        - "portfolio"
      summary: "Retrieve summary information about the portfolio"
      description: ""
      operationId: "getPortfolioSummary"
      parameters:
        - name: "id"
          in: "path"
          description: "Id for the portfolio summary being requested"
          required: true
          type: "number"
      produces:
        - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PortfolioSummary"
        400:
          description: "Invalid status value"
definitions:
  ApiResponse:
    type: "object"
    properties:
      success:
        type: "boolean"
        description: "Simple boolean indicated whether there might be response errors"
      message:
        type: "string"
        description: "Simple string message that can provide additional detail on the API response; perhaps with details on the data returned."
      data:
        type: "object"
        description: "Container for APi request data. Can be an object container or array container. Should be used by the client to create domain models or similar."
      errors:
        type: "array"
        description: "List of errors associated with the API request."
        items:
          $ref: '#/definitions/ApiError'
  ApiError:
    type: "object"
    properties:
      code:
        description: "Specific API error code that clients can use to map to unique error messages or create specific error flows."
        type: "integer"
      field:
        type: "string"
        description: "Used when form POSTs with specific field errors and indicates the field name in the request."
      message:
        type: "string"
        description: "Custom message provided by the API for the error."
      id:
        type: "string"
        description: "UUIDv4 used to track errors in logs especially when using PII data that's omitted from logs."
  AvailablePeriod:
    type: "object"
    properties:
      quarter:
        type: "integer"
        format: "int64"
      year:
        type: "integer"
        format: "int64"
  BoardMember:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      sinceDate:
        type: "string"
      company:
        type: "string"
      phone:
        type: "string"
      email:
        type: "string"
      avatar:
        type: "string"
  Company:
    type: "object"
    properties:
      id:
        type: "integer"
      name:
        type: "string"
        description: "Displayed in the company header."
      description:
        type: "string"
        description: "Displayed in the company header under the tags."
      type:
        type: "string"
        enum:
          - "PRIVATE"
          - "PUBLIC"
          - "EXITED"
          - "JOINT_VENTURE"
      sectors:
        type: "array"
        items:
          $ref: '#/definitions/Sector'
      region:
        type: "string"
      defaultCurrency:
        $ref: '#/definitions/Currency'
      funds:
        type: "array"
        items:
          $ref: "#/definitions/Fund"
      logo:
        type: "string"
      tags:
        type: "array"
        items:
          $ref: '#/definitions/Tag'
      percentOwnership:
        type: "number"
        description: "Displayed in the company header to the right of the tags."
      #      Note: This should be accomplished via the /team endpoint which includes deal team and other team info and is useful elsewhere
      #      dealTeam:
      #        type: "array"
      #        description: "Displayed in the company header under the description as a list."
      #        items:
      #          $ref: '#/definitions/TeamMember'
      takeaways:
        type: "array"
        items:
#          $ref: '#/definitions/Takeaway'
          type: "string"
      takeawayDate:
        type: "string"
        description: "Displayed in the company header with the list of takeaways."
      slackName:
        type: "string"
      slackUrl:
        type: "string"
      aka:
        type: "string"
      headquarters:
        $ref: '#/definitions/Address'
      founders:
        type: "array"
        items:
          type: "string"
      foundedDate:
        type: "string"
      website:
        type: "string"
      revenueStage:
        type: "string"
        enum:
          - "PRE_REVENUE"
          - "LT_100M"
          - "GT_100M"
      fiscalYearEnd:
        $ref: '#/definitions/MonthDay'
      investingEntity:
        type: "string"
      initialInvestmentDate:
        type: "string"
      latestFollowOnDate:
        type: "string"
      fdOwnership: # @Andrew Would like to know what this is?
        type: "string"
      boardMembers:
        type: "array"
        items:
          $ref: "#/definitions/Contact"
      availablePeriods:
        type: "array"
        items:
          $ref: "#/definitions/AvailablePeriod"
  CompanyListGroup:
    type: "object"
    description: "The Company in this listing will be a backend defined subset of #Company appropriate to the listing only"
    properties:
      groupName:
        type: "string"
      companies:
        type: "array"
        items:
          $ref: "#/definitions/Company"
  CompanyListResponse:
    type: array
    items:
      $ref: '#/definitions/CompanyListGroup'
  CompanyRelationship:
    type: "object"
    properties:
      memberId:
        type: "integer"
        description: "the id of the member"
      companyId:
        type: "integer"
        description: "the id of the company"
      relationship:
        type: "string"
        enum:
          - "OTHER_COMPANY"
          - "COMPANY_COVERED"
          - "BOARD_SEAT"
          - "LEAD"
  CompanyRevenue:
    type: array
    items:
      $ref: '#/definitions/CompanyRevenueResponse'
  CompanyRevenueResponse:
    type: "object"
    properties:
      companyId:
        type: "string"
        description: "Company ID for data"
      projected:
        type: "boolean"
        description: "Whether the entity represents historic or projected data"
      revenue:
        type: "number"
        description: "Actual Revenue Data"
      PY:
        type: "number"
        description: "PY Data"
      IC:
        type: "number"
        description: "IC Data"
      budget:
        type: "number"
        description: "Budget Data"
      forecast:
        type: "number"
        description: "Forecast Data"
      comment:
        type: "string"
        description: "Comment associated with a particular data point"
      confidence:
        type: "string"
        description: "Represents a confidence level in the data point"
  Contact:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      companyName:          #@Andrew what is this? Intentionally denormalized, or employer, or ?
        type: "string"
      contactName:
        type: "string"
      avatar:
        type: "string"
      slack:
        type: "string"
      mobile:
        type: "string"
      email:
        type: "string"
      bio:
        type: "string"
      position:
        type: "string"
  Currency:
    type: "object"
    properties:
      symbol:
        type: "string"
      code:
        type: "string"
      name:
        type: "string"
  Address:
    type: "object"
    properties:
      id:
        type: "integer"
      addressName:          #@Andrew what is this? Intentionally denormalized, or employer, or ?
        type: "string"
      address1:
        type: "string"
      address2:
        type: "string"
      city:
        type: "string"
      state:
        type: "string"
      countryCodeISO:
        type: "string"
      countryName:
        type: "string"
      postal:
        type: "string"
  DataSeriesResponse:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          type: "object"
          properties:
            series:
              type: "array"
              items:
                $ref: '#/definitions/DataSeries'
  DataSeries:
    type: "object"
    properties:
      name:
        type: "string"
      displayOrder:
        type: "integer"
        format: "int64"
      data:
        type: "array"
        items:
          $ref: '#/definitions/DataSeriesDataItem'
  DataSeriesDataItem:
    type: "object"
    properties:
      quarter:
        type: "integer"
        format: "int64"
      year:
        type: "integer"
        format: "int64"
      amountInNative:
        type: "number"
      amountInUSD:
        type: "number"
  Fund:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        description: "name of the fund"
      description:
        type: "string"
        description: "description of the fund"
  PortfolioSummary:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      invested:
        type: "number"
      valuation:
        type: "number"
      totalFund:
        type: "number"
      companies:
        type: "array"
        items:
          type: "integer"
          description: "array of ids representing the companies within the portfolio"
  Sector:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        description: "The name of the industry"
      description:
        type: "string"
        description: "Long form description of the industry (ie, for tooltips)"
  MonthDay:
    type: "object"
    properties:
      month:
        type: "string"
      day:
        type: "integer"
        format: "int64"
  Tag:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
  Takeaway:
    type: "object"
    properties:
      id:
        type: "string"
      content:
        type: "string"
  Team:
    type: "object"
    properties:
      teams:
        type: "array"
        items:
          $ref: "#/definitions/TeamMemberGroup"
  TeamMember:
    allOf:
      - $ref: "#/definitions/Contact"
      - type: "object"
        properties:
          companyRelationships:
            type: "array"
            items:
              $ref: "#/definitions/CompanyRelationship"
  TeamMemberGroup:
    type: "object"
    properties:
      category:
        type: "string"
        enum:
          - "DEAL"
          - "OPS"
          - "PORTFOLIO"
          - "FINANCE"
          - "LEGAL"
      members:
        type: "array"
        items:
          $ref: "#/definitions/TeamMember"
  Valuation:
    type: "object" # @Andrew something about this one feels wrong to me. We can discuss.
    properties:
      valuationDetail:
        type: "array"
        items:
          $ref: "#/definitions/ValuationDetail"
      topLineValuations:
        type: "array"
        items:
          $ref: "#/definitions/TopLineValuations"
  ValuationDetail:
    type: "object"
    properties:
      approved:
        type: "number"
      invested:
        type: "number"
      realizedValue:
        type: "number"
      unrealizedValue:
        type: "number"
      totalValue:
        type: "number"
      moic:
        type: "number"
      irr:
        type: "number"
      companyEquityValue:
        type: "number"
      ownership:
        type: "number"
  TopLineValuations:
    type: "object"
    properties:
      totalValue:
        type: "number"
      moic:
        type: "number"
      irr:
        type: "number"
