<div fxLayout="column"
     fxLayoutAlign="start stretch"
     fxLayoutGap="0px">

    <!--
    //////////////////////////////////////////////////////////////////
    // KPI Summary Charts
    //////////////////////////////////////////////////////////////////
    -->

    <div fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         *ngIf="!(kpiLoading$ | async)">

        <sbp-summary-widget-container *ngFor="let chartDataPeriodSet of chartDataPeriodSets$ | async; let i=index; trackBy: trackByFn"
                                      fxFlex
                                      [id]="chartDataPeriodSet.id"
                                      [name]="chartDataPeriodSet.name"
                                      [type]="typeEnum.KPI">
        </sbp-summary-widget-container>

    </div>

    <div fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutGap="10px"
         *ngIf="kpiLoading$ | async">

        <sbp-ghost-summary-widget *ngFor="let ghost of ghosts; let i=index; trackBy: trackByFn"
                                  fxFlex>
        </sbp-ghost-summary-widget>

    </div>

    <!--
    //////////////////////////////////////////////////////////////////
    // KPI Detail Charts
    //////////////////////////////////////////////////////////////////
    -->
    <div *ngFor="let chartDataPeriodSet of chartDataPeriodSets$ | async; let i=index; trackBy: trackByFn"
         class="detail-container">
        <sbp-company-detail-widget-container [@expandOutFromTop]="showKpiDetail"
                                             [name]="chartDataPeriodSet.name"
                                             [id]="chartDataPeriodSet.id"
                                             [type]="typeEnum.KPI"
                                             *ngIf="selectedKpiId === chartDataPeriodSet.id"
                                             class="detail-container">
        </sbp-company-detail-widget-container>
    </div>

</div>
