:host {
    margin: 0 40px;
    padding: 0;

    .kpi-container {}

    .content-chart {
        width: 739px;
    }

    .content-table {
        width: 605px
    }

    .detail-container {
        margin: 0px !important;
    }
}
