<div fxLayout="column"
     fxLayoutAlign="space-between center"
     class="container">
    <div class="header">{{ header }}</div>
    <div class="value">{{ value }}</div>

    <div *ngIf="!columnar"
         fxLayout="row"
         fxLayoutAlign="center">
        <div class="moic-gross-irr">{{ moic | billions: '1.2' }}x</div>
        <div class="divide">/</div>
        <div class="moic-gross-irr">{{ grossIrr | billions: '1.1'}}%</div>
    </div>
    <div *ngIf="columnar"
         fxLayout="column"
         fxLayoutAlign="start end">
        <div class="moic-gross-irr">{{ moic | billions: '1.1'}}x</div>
        <div class="moic-gross-irr">{{ grossIrr | billions: '1.1'}}%</div>
    </div>
</div>
