<div fxLayout="row"
     fxLayoutAlign="start start"
     fxFlex
     fxLayoutGap="24px">

    <sbp-team-member-avatar [teamMember]="member"
                            (click)="goToMemberDetail(member, group)"></sbp-team-member-avatar>

    <div fxLayout="column"
         fxLayoutAlign="start stretch"
         fxFlex>
        <!-- Name Row -->
        <div class="name_box"
             fxLayout="row"
             fxFlex
             fxLayoutAlign="start center"
             fxLayoutGap="20px"
             (click)="goToMemberDetail(member, group)">
            <div class="row__name">{{member.name | titlecase}}</div>
            <div class="lead_tag"
                 *ngIf="member.teamLead">LEAD</div>
        </div>

        <!-- Socials Row -->
        <div class="socials_box"
             fxLayout="row wrap"
             fxLayoutAlign="start center"
             fxFlex>

            <div #slackBox
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 fxFlex="25%"
                 fxFlex.lt-lg="100"
                 fxLayoutGap="5px"
                 class="row__icon slack">
                <mat-icon><img src="assets/image/slack.png"></mat-icon>
                <div class="row__slack">{{member.slack | titlecase | sbpEllipsis: getSlackWidth()}}</div>
            </div>
            <div fxLayout="row"
                 fxFlex="33%"
                 fxFlex.lt-lg="100"
                 fxLayoutAlign="start center"
                 fxLayoutGap="5px"
                 class="row__icon phone">
                <mat-icon>phone</mat-icon>
                <div class="row__phone">{{member.mobile}}</div>
            </div>
            <div fxLayout="row"
                 #emailBox
                 fxFlex
                 fxLayoutAlign="start center"
                 fxLayoutGap="5px"
                 class="row__icon email">
                <mat-icon>email</mat-icon>
                <div class="row__email">{{member.email | uppercase | sbpEllipsis: getEmailWidth()}}</div>
            </div>
        </div>
    </div>
</div>
