@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/pointers";

:host {

    .main-container {
        padding: 20px 40px;
    }

    .mat-list-base {
        padding-top: 0px !important;
    }

    .mat-list-base .mat-list-item {
        height: 84px;
    }

    .group {
        padding: 10px 0px 15px 0px;
        background-color: $white;
        border-bottom: dashed 1px $light-grey-blue;

        .category {
            font-family: PostGrotesk;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $grey-blue;
            padding-right: 6px;
            padding-top: 5px;
        }

        .count {
            opacity: 0.75;
            font-family: PostGrotesk;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $grey-blue;
            padding-top: 5px;
        }

        .row__company {
            font-family: PostGrotesk;
            font-size: 10px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: grey;
        }

    }
}
