<sbp-slideout-panel [preTitleText]="companyName"
                    [titleText]="'All Team Members'"
                    [itemCount]="teamMemberCount"
                    (close)="onClose()">
    <!-- MAIN COLUMN -->
    <div fxLayout="column"
         fxLayoutAlign="start stretch"
         fxLayoutGap="12px"
         fxFlexFill
         class="main-container">
        <ng-container *ngFor="let group of teams">
            <!-- GROUP CONTAINER -->
            <div class="group"
                 fxLayout="row"
                 fxLayoutAlign="space-between stretch">
                <div fxLayout="row"
                     fxFlex="125px"
                     fxLayoutAlign="start start">
                    <div class="category">{{group.category}} TEAM</div>
                    <div class="count">({{group.members.length}})</div>
                </div>
                <div fxLayout="column"
                     fxFlex="100%"
                     fxLayoutAlign="start stretch"
                     fxLayoutGap="20">
                    <mat-list>
                        <mat-list-item *ngFor="let member of group.members">
                            <sbp-team-member-list-item [member]="member"
                                                       [company]="company"
                                                       [group]="group"
                                                       (goToDetail)="goToMemberDetail($event)"></sbp-team-member-list-item>
                        </mat-list-item>
                    </mat-list>
                </div>

            </div>
        </ng-container>
    </div>
</sbp-slideout-panel>
