@import "../../../src/assets/scss/variables";

:host {
    h1 {
        text-align: center;
    }

    .h-line {
        //width: 100%;
        height: 1px;
        margin: 10px 40px;
        border-bottom: dashed 1px rgba($light-grey-blue, .5);
    }

    //.chart {
    //    padding: 10px;
    //}

    .panel-container {
        padding: 0 40px;
        // height: 100%;
        // min-height: 400px;
    }

    .slack-coming-soon-container {
        height: 100%;
        min-height: 566px;


        sbp-filterable-panel {
            //width: 50%;
            height: 100%;
        }
    }

    .slack-coming-soon {
        opacity: 0.75;
        border-radius: 6px;
        background-color: $white;
        min-height: 566px;

        div {
            opacity: 0.75;
            font-family: PostGrotesk;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.25px;
            color: $grey-blue;
        }
    }
}
