<div fxLayout="column"
     fxLayoutAlign="start stretch"
     fxFlex>

    <!-- Company Summary Header -->
    <sbp-company-summary-container></sbp-company-summary-container>

    <!-- Sub navigation (tab navigator) -->
    <sbp-company-navbar-container></sbp-company-navbar-container>

    <!-- Period selector for financial widgets -->
    <sbp-period-selector-container></sbp-period-selector-container>

    <!-- Horizontal divider line -->
    <div class="h-line"
         fxFlexOffset="15px"></div>

    <!-- Widget Row line 1 -->
    <sbp-company-kpi-container fxFlexOffset="15px"></sbp-company-kpi-container>

    <!-- Widget Detail Row -->
    <sbp-company-revenue-detail-container [@expandOutFromTop]="showRevenueDetail"></sbp-company-revenue-detail-container>
    <sbp-company-EBITDA-detail-container [@expandOutFromTop]="showEBITDADetail"></sbp-company-EBITDA-detail-container>
    <sbp-company-cash-detail-container [@expandOutFromTop]="showCashDetail"></sbp-company-cash-detail-container>

    <!-- Widget Row line 2 -->
    <sbp-company-kpi-container-two fxFlexOffset="15px"></sbp-company-kpi-container-two>

    <!--    <sbp-expandable-panel [@expandOutFromTop]="isDetailRowTwoExpanded"></sbp-expandable-panel>-->

    <!-- Horizontal divider line -->
    <div class="h-line"
         fxFlexOffset="15px"></div>

    <!-- TEMP -->
    <div class="panel-container"
         fxLayout="row"
         fxFlex
         fxLayoutAlign="center center"
         fxLayoutGap="12px">
        <sbp-filterable-panel [title]="'Initiatives'"
                              [itemCount]="30"></sbp-filterable-panel>
        <sbp-filterable-panel [title]="'Updates'"></sbp-filterable-panel>
    </div>
    <div fxFlex></div>
</div>
