<div fxLayout="column"
     fxLayoutAlign="start space-between">

    <!-- Company Summary Header -->
    <sbp-company-summary-container></sbp-company-summary-container>

    <!-- Sub navigation (tab navigator) -->
    <sbp-company-navbar-container></sbp-company-navbar-container>

    <!-- Period selector for financial widgets -->
    <sbp-period-selector-container></sbp-period-selector-container>

    <!-- Horizontal divider line -->
    <div class="h-line"
         fxFlexOffset="15px"></div>

    <!-- Widget Row line 1 -->
    <sbp-company-kpi-container fxFlexOffset="15px"></sbp-company-kpi-container>

    <!-- Widget Detail Row -->
    <sbp-company-revenue-detail-container [@expandOutFromTop]="showRevenueDetail"></sbp-company-revenue-detail-container>
    <sbp-company-EBITDA-detail-container [@expandOutFromTop]="showEBITDADetail"></sbp-company-EBITDA-detail-container>
    <sbp-company-cash-detail-container [@expandOutFromTop]="showCashDetail"></sbp-company-cash-detail-container>

    <!-- TODO: BMR: Need to refactor `sbp-company-kpi-detail` to `sbp-company-detail-widget` -->
    <!--    <sbp-company-kpi-detail-container [@expandOutFromBottom]="showKpiDetail"></sbp-company-kpi-detail-container>-->

    <!-- Widget Row line 2 -->
    <sbp-company-summary-widgets-container fxFlexOffset="15px"></sbp-company-summary-widgets-container>

    <!--    <sbp-expandable-panel [@expandOutFromTop]="isDetailRowTwoExpanded"></sbp-expandable-panel>-->

    <!-- Horizontal divider line -->
    <div class="h-line"
         fxFlexOffset="15px"></div>

    <!-- TODO: TEMP -->
    <div class="panel-container"
         fxLayout="row"
         fxFlex
         fxLayoutAlign="center stretch"
         fxLayoutGap="12px">
        <sbp-company-initiatives-summary-container fxFlex="50%">
        </sbp-company-initiatives-summary-container>

        <div class="slack-coming-soon-container"
             fxFlex="50%">
            <div class="slack-coming-soon"
                 fxLayout="column"
                 fxLayoutAlign="center center">

                <div fxLayout="column"
                     fxLayoutAlign="start center"
                     fxLayoutGap="40px">
                    <img src="assets/image/slack-logo.svg">
                    <span>Slack integration coming soon</span>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex></div>
</div>
