@import "../../../../assets/scss/variables.scss";

:host {

    .bubbles {
        stroke-width: 1px;
        opacity: .8
    }

    // .bubbles:hover {
    //     stroke: black;
    // }

    .axis {
        fill: none;
        stroke: $light-grey-blue;
        stroke-dasharray: 2, 2;
    }

    .USA {
        z-index: 1;
    }

    .GBR {
        z-index: 2;
    }

    .CAN {
        z-index: 3;
    }

    .CHN {
        z-index: 4;
    }



    .axis-label {
        width: 97px;
        height: 18px;
        opacity: 0.75;
        font-family: PostGrotesk;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $grey-blue;
    }
}

path {
    fill: none;
    stroke: $light-grey-blue;
    stroke-dasharray: 2, 2;
}

path.domain {
    stroke: $light-grey-blue;
    stroke-dasharray: 2, 2;
}

.axis {
    fill: none;
    stroke: $light-grey-blue;
    stroke-dasharray: 2, 2;
}
