@import "../../../../assets/scss/variables.scss";

:host {
    .tick .line .path {
        // display: none;
        font: 10px sans-serif;
    }
}

#barchart {
    font: 10px sans-serif;
    text-align: right;
    padding: .5px;
    margin: .5px;
    padding: 2px;
}

rect {
    transition: all 0.3s ease-out;
    border-radius: 4px;
    width: 36px;
    padding: 2px;
}

rect:hover {
    fill: $jade;
    stroke-width: 4;
}

rect.projected-positive {
    border-radius: 2px;
    fill: $jade;
    stroke: #115449;
    stroke-width: 1;
    width: 36px;
    opacity: 0.25;
}

rect.historical-positive {
    fill: $jade;
    stroke: #115449;
    border-radius: 4px;
    width: 36px;
    stroke-width: 20;
}

rect.historical-positive:hover {
    fill: $jade;
    stroke: #115449;
    border-radius: 4px;
    stroke-width: 4;
    width: 36px;
    opacity: 0.15;
}

rect.historical-negative {
    border-radius: 4px;
    stroke: #6b291d;
    width: 36px;
    fill: $pale-red;
}

rect.historical-negative:hover {
    border-radius: 4px;
    stroke: #6b291d;
    fill: $pale-red;
    width: 36px;
    opacity: 0.15;
}


rect.projected-negative {
    border-radius: 2px;
    stroke: solid 2px #6b291d;
    fill: $pale-red;
    opacity: 0.25;
}


.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .x {
    stroke-dasharray: 3, 3
}
