<mat-toolbar color="primary">

    <button mat-button
            routerLink="/">
        <mat-icon>
            <img src="/assets/image/header-logo.png"
                 alt="SoftBank">
        </mat-icon>
    </button>

    <div fxLayout="row"
         fxLayoutGap="16px"
         fxLayoutAlign="space-between end"
         class="menu">
        <div>Portfolio</div>
        <div>&#47;</div>
        <sbp-iconized-searchable-combo *ngIf="showCompanyCombo"
                                       class="combo"
                                       [popupSettings]="popupSettings"
                                       (selectionChange)="onCompanySelect($event)"
                                       [listItems]="listItems">
        </sbp-iconized-searchable-combo>
    </div>

    <div class="user">
        <button (click)="onToggleSlideout($event)">
            Test Open/Close Panel
        </button>

        <button mat-button
                [matMenuTriggerFor]="menu">
            Welcome John Doe <i class="icon-user"></i> <i class="icon-arrow-down5"></i>
        </button>

        <mat-menu #menu="matMenu"
                  class="user-mat">
            <button mat-menu-item
                    (click)="onLogin($event)">
                Login
            </button>
            <button mat-menu-item
                    (click)="onLogout($event)">
                Logout
            </button>
        </mat-menu>
    </div>

</mat-toolbar>
