<footer class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <ul class="footer-list">
                <li class="inline-block">
                    <address id="address">500 TODO Drive, TODO City, MA 00000</address> |
                </li>
                <li class="inline-block">
                    Phone <a id="phoneNumberLink"
                       href="tel:(888) 888-TODO">(888) 888 - TODO</a> |
                </li>
                <li id="copyright"
                    class="inline-block">
                    Copyright &copy; 2019, Inc. All rights reserved
                </li>
                <li id="appVersion"
                    class="inline-block">
                    Version: {{ appVersion.version }} || Git Hash: {{ appVersion.hash }}
                </li>
            </ul>
        </div>
    </div>
</footer>
