<div class="main"
     fxLayout="row"
     fxLayoutAlign="space-between center">

    <!-- SEARCH FOR COMPANY -->
    <div fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="25px"
         fxFlex="0 0 25">
        <div fxLayout="row"
             fxFlex="200px"
             fxLayoutAlign="start center">
            <img src="assets/image/search.svg"
                 class="search"
                 fxFlex="24px">
            <input matInput
                   fxFlex
                   class="search-for-company"
                   [value]="companyFilter"
                   placeholder="Search for Company"
                   (keyup)="onFilter($event)">
        </div>

        <!-- START VERTCIAL LINE, FILTER ICON, VERTICAL LINE -->
        <!--        <div fxLayout="row"-->
        <!--             fxLayoutAlign="space-between center"-->
        <!--             fxLayoutGap="20px">-->
        <!--            <div class="vr"></div>-->
        <!--            <div fxLayoutGap="20px">-->
        <!--                <img src="assets/image/filter.svg"-->
        <!--                     class="filter">-->
        <!--            </div>-->
        <!--            <div class="vr"></div>-->
        <!--        </div>-->
        <!-- END VERTICAL LINE, FILTER ICON, VERTICAL LINE -->

        <!-- GROUP SELECT -->
        <div fxLayout="row"
             fxLayoutAlign="space-between center"
             fxLayoutGap="5px">
            <sbp-iconized-searchable-combo [mainIconSrc]="'assets/image/grouping.svg'"
                                           [listItems]="groupingOptions"
                                           [popupSettings]="popupSettings"
                                           [selectedItem]="selectedGroupOption"
                                           [title]="'foo'"
                                           [showFilter]="false"
                                           (selectionChange)="onGroupChange($event)"></sbp-iconized-searchable-combo>
        </div>
    </div>

    <!-- Spacer -->
    <div fxFlex
         fxFlex="0 0 25"></div>


    <!-- SORT SELECT -->
    <div fxLayout="row"
         fxFlex="0 0 25"
         fxLayoutAlign="end center"
         fxLayoutGap="5px">
        <sbp-iconized-searchable-combo [mainIconSrc]="'assets/image/sort.svg'"
                                       [listItems]="sortingOptions"
                                       [popupSettings]="popupSettings"
                                       [selectedItem]="selectedSortOption"
                                       [showFilter]="false"
                                       [title]="'bar'"
                                       (selectionChange)="onSortChange($event)"></sbp-iconized-searchable-combo>
    </div>

</div>
