@import "../../../../assets/scss/variables.scss";

:host {

    .container {
        position: relative;
        height: 150px;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        background-color: $white;
        transition: all 2s ease-out !important;
        border: solid 2px $white;
        font-family: PostGrotesk;
        padding: 9px 11px 8px 11px;
    }

    .grid {
        display: grid;
        grid-gap: 5px;
        grid-template-rows: 45px 45px;
        grid-template-columns: 40% 30% 30%;
    }

    .row1-col1 {
        grid-row: 1;
        grid-column: 1;
    }

    .row1-col2 {
        grid-row: 1;
        grid-column: 2;
    }

    .row1-col3 {
        grid-row: 1;
        grid-column: 3;
    }

    .row2-col1 {
        grid-row: 2;
        grid-column: 1;
    }

    .row2-col2 {
        grid-row: 2;
        grid-column: 2;
    }

    .row2-col3 {
        grid-row: 2;
        grid-column: 3;
    }

    .vs-label {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: right;
        color: $grey-blue;
        padding-top: 7px;
        padding-right: 11px;
    }

    .vs-value {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        //padding-top: 7px;
        padding-right: 11px;
    }

    .bar-chart {
        padding-right: 11px;
    }

    .vs-positive {
        color: $jade;
    }

    .vs-negative {
        color: $pale-red;
    }

    .selected {
        border: solid 2px $dark-sky-blue;
    }

    .top-row {
        width: 100%;
        margin-bottom: 10px;
    }

    .title {
        color: $grey-blue;
        text-align: left;
        text-transform: uppercase;
        justify-self: start;
        align-self: start;
    }

    .details {
        color: $dark-sky-blue;
        text-align: right;
        text-transform: uppercase;
    }

    .title,
    .details {
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
    }

    .value {
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.25px;
        color: $dark
    }

    .value-offset {
        align-self: start;
        justify-self: center;
    }

    .positive-value {
        color: $jade;
    }

    .negative-value {
        color: $pale-red;
    }

    .budget {
        grid-column: 3;
        grid-row: 2;
        justify-self: end;
        align-self: start;
        color: $grey-blue;
        text-align: left;
    }

    .ic-val {
        grid-column: 3;
        grid-row: 2;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        justify-self: end;
        align-self: end;

        &.positive-ic {
            color: $jade;
        }

        &.negative-ic {
            color: $pale-red;
        }
    }

    .triangle {
        position: absolute;
        padding-left: 165px;
        top: 100%;
        visibility: hidden;

        &-selected {
            visibility: visible;
        }
    }
}
