<div class="container"
     [ngClass]="{
        'selected': selected
    }">

    <!--
    //////////////////////////////////////////////////////////////////////
    // Top Row
    //
    // Title and details
    //////////////////////////////////////////////////////////////////////
    -->

    <div fxLayout="row"
         fxLayoutAlign="space-between stretch"
         class="top-row">

        <!-- Title -->
        <div class="title">{{ title }} ({{currencySymbol}}{{scale}})</div>

        <!-- Details -->
        <div class="details"
             *ngIf="selected">
            Details
        </div>
    </div>

    <div class="grid">

        <!--
        //////////////////////////////////////////////////////////////////////
        // Middle Row
        //
        // Value, PY, IC
        //////////////////////////////////////////////////////////////////////
        -->

        <!-- Value -->
        <div class="row1-col1 value value-offset">{{ value | shortNumber }}</div>

        <!-- PY -->
        <div class="row1-col2">

            <div *ngIf="pyLabel"
                 class="vs-label">
                {{ pyLabel }}
            </div>

            <div *ngIf="py"
                 class="vs-value"
                 [ngClass]="
                 {
                    'vs-positive': isPositivePY,
                    'vs-negative': !isPositivePY
                 }">
                {{ py | percentOrNa: true }}
            </div>

        </div>

        <!-- BUD -->
        <div class="row1-col3">

            <div *ngIf="icLabel"
                 class="vs-label">
                {{ icLabel }}
            </div>

            <div *ngIf="ic"
                 class="vs-value"
                 [ngClass]="
                 {
                    'vs-positive': isPositivePY,
                    'vs-negative': !isPositivePY
                 }">
                {{ ic | percentOrNa: true }}
            </div>

        </div>

        <!--
        //////////////////////////////////////////////////////////////////////
        // Bottom Row
        //
        // Line chart, PY bar chart, BUD bar chart
        //////////////////////////////////////////////////////////////////////
        -->

        <!-- Line Chart -->
        <div class="row2-col1 timeline">
            <sbp-micro-line [data]="lineChartData"
                            [id]="title"
                            [selectedPeriod]="selectedPeriod"
                            [xAccessor]="dateAccessor"
                            [yAccessor]="yAccessor"
                            [yLabelVisible]="false">
            </sbp-micro-line>
        </div>

        <!-- PY Bar Chart -->
        <div *ngIf="selectedPeriod && barChartData1"
             class="row2-col2 bar-chart">
            <sbp-micro-bar [data]="barChartData1"
                           [id]="title"
                           [selectedPeriod]="selectedPeriod"
                           [availablePeriods]="availablePeriods"
                           [title]="'bar1'"
                           [xAccessor]="dateAccessor"
                           [yAccessor]="yAccessor"
                           [yAccessorValue]="yAccessorValue">
            </sbp-micro-bar>
        </div>

        <!-- BUD Bar Chart -->
        <div *ngIf="selectedPeriod && barChartData2"
             class="row2-col3 bar-chart">
            <sbp-micro-bar [data]="barChartData2"
                           [id]="title"
                           [selectedPeriod]="selectedPeriod"
                           [availablePeriods]="availablePeriods"
                           [title]="'bar2'"
                           [xAccessor]="dateAccessor"
                           [yAccessor]="yAccessor"
                           [yAccessorValue]="yAccessorValue">
            </sbp-micro-bar>
        </div>

    </div>

    <!--
    //////////////////////////////////////////////////////////////////////
    // Triangle pointing to detials when selected
    //////////////////////////////////////////////////////////////////////
    -->
    <img src="assets/image/triangle.svg"
         class="triangle"
         [ngClass]="{
            'triangle-selected': selected
        }">
</div>
