<!-- CONTAINER -->
<div class="container"
     [ngClass]="{
        'selected': selected
    }">
    <!-- TITLE ROW -->
    <div class="box title">{{ title }} ({{currencySymbol}}{{scale}})</div>
    <!-- CHARTS ROW -->
    <!-- VALUE COLUMN -->
    <div class="box value">{{ value | shortNumber }}</div>
    <div *ngIf="pyLabel"
         class="box py">{{ pyLabel }}</div>
    <div *ngIf="!py"
         class="box py-val">0%</div>
    <div *ngIf="py"
         class="box py-val"
         [ngClass]="{
            'positive-py': isPositivePY,
            'negative-py': !isPositivePY
        }">{{ py | percentOrNa }}</div>
    <div *ngIf="icLabel"
         class="box budget">{{ icLabel }}</div>
    <div *ngIf="!ic"
         class="box ic-val">0%</div>
    <div *ngIf="ic"
         class="box ic-val"
         [ngClass]="{
            'positive-ic': isPositiveIC,
            'negative-ic': !isPositiveIC
        }">{{ ic | percentOrNa }}</div>
    <!--    <div *ngIf="data && selectedPeriod && barChartData1 && barChartData2 && title !== 'Cash Runway'"-->
    <div class="box timeline">
        <sbp-micro-line [data]="lineChartData"
                        [id]="title"
                        [selectedPeriod]="selectedPeriod"
                        [xAccessor]="dateAccessor"
                        [yAccessor]="yAccessor"
                        [yLabelVisible]="false"></sbp-micro-line>
    </div>
    <div *ngIf="selectedPeriod && barChartData1 && title !== 'Cash Runway'"
         class="box py-chart">
        <sbp-micro-bar [data]="barChartData1"
                       [id]="title"
                       [selectedPeriod]="selectedPeriod"
                       [availablePeriods]="availablePeriods"
                       [title]="'bar1'"
                       [xAccessor]="dateAccessor"
                       [yAccessor]="yAccessor"
                       [yAccessorValue]="yAccessorValue"></sbp-micro-bar>
    </div>
    <div *ngIf="selectedPeriod && barChartData2 && title !== 'Cash Runway'"
         class="box budget-chart">
        <sbp-micro-bar [data]="barChartData2"
                       [id]="title"
                       [selectedPeriod]="selectedPeriod"
                       [availablePeriods]="availablePeriods"
                       [title]="'bar2'"
                       [xAccessor]="dateAccessor"
                       [yAccessor]="yAccessor"
                       [yAccessorValue]="yAccessorValue"></sbp-micro-bar>
    </div>
</div>
