<div fxLayout="column"
     fxLayoutAlign="space-between stretch"
     class="container">
    <div fxLayout="row"
         fxLayoutAlign="space-between center">
        <div class="box title">{{ title }} ({{currencySymbol}}{{scale}})</div>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="space-between start"
         fxFlex>
        <!-- Timeline chart -->
        <div fxLayout="column"
             fxLayoutAlign="space-between stretch"
             fxFlex="50%">
            <div class="box value">{{ value }}</div>
            <sbp-micro-line [data]="data"
                            [selectedPeriod]="selectedPeriod"
                            [barChartData1]="barChartData1"
                            [barChartData2]="barChartData2"
                            [xAccessor]="dateAccessor"
                            [yAccessor]="yAccessor"
                            [yLabelVisible]="false"></sbp-micro-line>
        </div>

        <!-- Bar chart 1 -->
        <div fxLayout="column"
             fxLayoutAlign="space-between start"
             fxFlex="0 0 25%">
            <div fxFlex="20px">
                <div *ngIf="pyLabel"
                     class="box py">{{ pyLabel }}</div>
            </div>
            <div fxFlex="20px">
                <div *ngIf="py"
                     class="box py-val"
                     [ngClass]="{'positive-py': isPositivePY,'negative-py': !isPositivePY}">{{ py }}%</div>
            </div>

            <div *ngIf="selectedPeriod && barChartData1 && title !== 'Cash Runway'"
                 class="box py-chart"
                 fxFlex
                 fxLayout="column"
                 fxLayoutAlign="end stretch">
                <sbp-micro-bar [data]="barChartData1"
                               [selectedPeriod]="selectedPeriod"
                               [title]="'bar1'"
                               [xAccessor]="dateAccessor"
                               [yAccessorValue]="yAccessorValue"></sbp-micro-bar>
            </div>
        </div>

        <!-- Bar chart 2 -->
        <div fxLayout="column"
             fxLayoutAlign="space-between end"
             fxFlex="25%">
            <div fxFlex="20px">
                <div *ngIf="icLabel"
                     class="box budget">{{ icLabel }}</div>
            </div>
            <div fxFlex="20px">
                <div *ngIf="ic"
                     class="box ic-val"
                     [ngClass]="{'positive-ic': isPositiveIC, 'negative-ic': !isPositiveIC}">{{ ic }}%</div>
            </div>
            <div fxFlex>
                <div *ngIf="selectedPeriod && barChartData2 && title !== 'Cash Runway'"
                     class="box budget-chart"
                     fxFlex
                     fxLayout="column"
                     fxLayoutAlign="end stretch">
                    <sbp-micro-bar [data]="barChartData2"
                                   [selectedPeriod]="selectedPeriod"
                                   [title]="'bar2'"
                                   [xAccessor]="dateAccessor"
                                   [yAccessorValue]="yAccessorValue"></sbp-micro-bar>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="assets/image/triangle.svg"
     class="triangle">
