<div fxLayout="column"
     fxLayoutAlign="start stretch"
     fxFlex>

    <sbp-portfolio-navbar-container></sbp-portfolio-navbar-container>
    <!-- This is where this sub-header will go: -->
    <!-- https://casertaconcepts.atlassian.net/browse/SBMVP-75 -->

    <!-- This is where the summary widget will go: -->
    <!-- https://casertaconcepts.atlassian.net/browse/SBMVP-81 -->
    <sbp-portfolio-listing-summary-container></sbp-portfolio-listing-summary-container>

    <!-- This is where this list will go -->
    <!-- https://casertaconcepts.atlassian.net/browse/SBMVP-77 -->

    <button (click)="onLoadCompanies($event)">Load Companies</button>

    <div>{{ mocks }}</div>
</div>
