<div fxLayout="column"
     fxLayoutAlign="start center"
     fxFlex>

    <sbp-portfolio-navbar-container></sbp-portfolio-navbar-container>
    <!-- This is where this sub-header will go: -->
    <!-- https://casertaconcepts.atlassian.net/browse/SBMVP-75 -->
    <sbp-portfolio-listing-header-container></sbp-portfolio-listing-header-container>

    <!-- This is where the summary widget will go: -->
    <!-- https://casertaconcepts.atlassian.net/browse/SBMVP-81 -->
    <sbp-portfolio-listing-summary-container></sbp-portfolio-listing-summary-container>

    <!-- This is where this list will go -->
    <!-- https://casertaconcepts.atlassian.net/browse/SBMVP-77 -->
    <sbp-portfolio-listing-table [tableData]="tableData"
                                 [groupByColumn]="'region'"
                                 [sortByColumn]="'companyName'"
                                 [filter]="[]"
                                 (openCompanyDashboard)="onOpenCompanyDashboard($event)"></sbp-portfolio-listing-table>


    <div>{{ mocks }}</div>
</div>
