:host {
    .container {
        width: 71px;
        height: 60px;
    }

    .x-axis-label {
        fill: #34495e;
        font-size: 2em;
        text-anchor: middle;
        transform: rotate(-90deg);

    }

    .yaxis line {
        display: none;
        shape-rendering: crispEdges;
    }

    .xaxis line {
        stroke-width: 2;
    }

    .display-axis {
        stroke-width: 1;
    }

}
