<div #container
     class="container">
    <sbp-chart [dimensions]="dimensions">
        <svg:defs>
            <svg:g sbpGradient
                   [id]="gradientId"
                   [colors]="gradientColors"
                   x2="0"
                   y2="100%">
            </svg:g>
        </svg:defs>
        <svg:g sbpAxisBar
               dimension="x"
               [dimensions]="dimensions"
               [scale]="xScale"
               [yScale]="yScale"
               [orient]="'bottom'">
        </svg:g>
        <svg:g sbpAxisBar
               dimension="y"
               [dimensions]="dimensions"
               [scale]="yScale"
               [orient]="'left'">
        </svg:g>
        <svg:g sbpBars
               [data]="bins"
               [keyAccessor]="keyAccessor"
               [xAccessor]="xAccessorScaled"
               [yAccessor]="yAccessorScaled"
               [projected]="false"
               [sourceTypeAccessor]="sourceTypeAccessor"
               [sourceValues]="sourceValues"
               [projectedAccessor]="projectedAccessor"
               [widthAccessor]="widthAccessorScaled"
               [heightAccessor]="heightAccessorScaled"
               fill="url(#{{ barId }})">
        </svg:g>
    </sbp-chart>
</div>
