<div class="item-container"
     xLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="8px">

    <div class="item-cell"
         fxLayout="column"
         fxFlex="0 0 20"
         fxLayoutAlign="start center"
         fxLayoutGap="0px">
        <div class="item-cell__label">Companies</div>
        <div class="item-cell__value chart"
             fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutGap="20px">

            <kendo-chart class="chart"
                         *ngIf="showCompanyTypeChart()"
                         [chartArea]="{ height: 68, width: 100, margin: 0, padding: 0}"
                         [legend]="false">
                <ng-template kendoChartDonutCenterTemplate>
                    <div>{{companyCount}}</div>
                </ng-template>
                <kendo-chart-series>
                    <kendo-chart-series-item type="donut"
                                             [padding]="0"
                                             [size]="5"
                                             [margin]="0"
                                             [data]="chartData"
                                             [holeSize]="28"
                                             categoryField="name"
                                             field="value"
                                             colorField="color">
                    </kendo-chart-series-item>
                </kendo-chart-series>
            </kendo-chart>

            <div class="legend"
                 fxFlex="300px"
                 fxLayout="row"
                 fxLayoutAlign="start center">
                <div class="left-side"
                     fxLayout="column"
                     fxLayoutAlign="start stretch"
                     fxFlex="50%">
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                         fxFlex>
                        <div class="legend_text private"
                             fxLayout="row"
                             fxLayoutAlign="start center"
                             fxLayoutGap="8px"
                             fxFlex="75%">
                            <div class="marker"></div>
                            Private
                        </div>
                        <div class="legend_value">{{ chartData[0].value}}</div>
                    </div>
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                         fxFlex>
                        <div class="legend_text public"
                             fxLayout="row"
                             fxLayoutAlign="start center"
                             fxLayoutGap="8px"
                             fxFlex="75%">
                            <div class="marker"></div>
                            Public
                        </div>
                        <div class="legend_value">{{ chartData[1].value}}</div>
                    </div>
                </div>
                <div class="right-side"
                     fxLayout="column"
                     fxLayoutAlign="end stretch"
                     fxFlex="50%">
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                         fxFlex>
                        <div class="legend_text jv"
                             fxLayout="row"
                             fxLayoutAlign="start center"
                             fxLayoutGap="8px"
                             fxFlex="75%">
                            <div class="marker"></div>
                            JV
                        </div>
                        <div class="legend_value">{{ chartData[2].value}}</div>
                    </div>
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                         fxFlex>
                        <div class="legend_text exited"
                             fxLayout="row"
                             fxLayoutAlign="start center"
                             fxLayoutGap="8px"
                             fxFlex="75%">
                            <div class="marker"></div>
                            Exited
                        </div>
                        <div class="legend_value">{{ chartData[3].value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item-cell"
         fxLayout="column"
         fxFlex="0 0 20"
         fxLayoutAlign="start center"
         fxLayoutGap="8px">
        <div class="item-cell__label">Invested / Approved / Total Fund ($B)</div>
        <div class="item-cell__value"
             fxLayout="row"
             fxLayoutAlign="space-around center"
             fxLayoutGap="12px">
            <div class="item-cell__value--invested">{{invested | number: '1.2'}}</div>
            <div class="slash">/</div>
            <div class="item-cell__value--approved">{{totalApproved}}</div>
            <div class="slash">/</div>
            <div class="item-cell__value--total">{{totalFund}}</div>
        </div>
        <sbp-comparison-bar class="item-cell__progress-bar"
                            [value1]="getInvestedPerc()"
                            [value2]="getApprovedPerc()"
                            [value3]="getTotalPerc()"></sbp-comparison-bar>
    </div>

    <div class="item-cell"
         fxLayout="column"
         fxFlex="0 0 20"
         fxLayoutAlign="start center"
         fxLayoutGap="12px">
        <div class="item-cell__label">Total Value ($B)</div>
        <div class="item-cell__value">{{valuation| number: '1.2'}}</div>
    </div>

    <div class="item-cell"
         fxLayout="column"
         fxFlex="0 0 20"
         fxLayoutAlign="start center"
         fxLayoutGap="12px">
        <div class="item-cell__label">MOIC</div>
        <div class="item-cell__value">{{moic| number: '1.0'}}x</div>
    </div>

    <div class="item-cell"
         fxLayout="column"
         fxFlex="0 0 20"
         fxLayoutAlign="start center"
         fxLayoutGap="12px">
        <div class="item-cell__label">IRR</div>
        <div class="item-cell__value">{{irr | percent: '2.2'}}</div>
    </div>
</div>
