@import "../../../assets/scss/variables";

:host {
    margin: 0 40px;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: $white;

    .item-container {
        padding: 24px;
    }

    .item-cell {
        padding: 11px 22px;
        min-width: 25%;
        min-height: 100px;
        //border-radius: 6px;
        //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        //background-color: $white;
        border-right: 1px dashed $light-grey-blue;

        &:first-child {
            padding: 8px 22px; // Hack for the extra size created by the donut chart
        }

        &:last-child {
            border-right: none;
        }

        &__label {
            font-family: PostGrotesk;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: $grey-blue;
            text-transform: uppercase;
        }

        &__label {
            font-family: PostGrotesk;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: $grey-blue;
            text-transform: uppercase;
        }

        &__value {
            padding: 0;
            font-family: PostGrotesk;
            font-size: 30px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: $black;

            &--muted {
                color: rgba($black, .5);
            }

            .chart {
                padding: 0;
            }
        }
    }
}
