@import "../../../assets/scss/variables";
@import "../../../assets/scss/pointers";

:host {
    height: 43px;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.6);

    .btn-hidden {
        visibility: hidden;
    }

    .btn-expanded,
    .btn-collapsed {
        @extend .hand-cursor;
        background: none;
        font-family: PostGrotesk;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: $light-navy;
        text-transform: uppercase;
        border: none;
    }

    .btn-collapsed-img,
    .btn-expanded-img {
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
    }

    .btn-collapsed-img {
        background-image: url("../../../assets/image/arrow-up.svg");
    }

    .btn-expanded-img {
        background-image: url("../../../assets/image/arrow-down.svg");
    }
}
