@import "../../../../../assets/scss/variables.scss";

:host {
    path {
        transition: all 0.3s ease-out;
        cursor: crosshair;
        stroke-width: 2px;
        stroke-linecap: round;
        fill: none;

        &.line {
            stroke: $light-navy;
            stroke-width: 2px;
            stroke-linecap: round;
            fill: none;
        }

        &.budget {
            stroke: $dark-sky-blue;
            stroke-width: 1px;
        }

        &.forecast {
            stroke: $light-navy;
            stroke-width: 1px;
        }

        &.not-visible {
            display: none;
        }


    }

    path:hover {
        fill: none;
        stroke-width: 4px;
    }



    path.projected {
        stroke: $light-grey-blue;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-dasharray: 3, 3;
        fill: none;
    }

    path.line:hover {
        stroke: $light-navy;
        stroke-linecap: round;
        fill: none;
        stroke-width: 10;
    }

    path.projected:hover {
        stroke: $light-grey-blue;
        stroke-width: 10;
        stroke-linecap: round;
        stroke-dasharray: 3, 3;
        fill: none;
    }

    .area {
        fill: #47a2d6;
        border-radius: 6px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        opacity: 0.15;
        border: solid 2px $dark-sky-blue;
        background-color: $white;

    }
}
