@import "../../../src/assets/scss/variables";

:host {
    height: 100%;

    h2 {
        width: 100%;
        text-align: center;
    }

    .nav-container,
    .content-container {
        margin: 0 40px;
    }

    .nav-container {
        margin-top: 23px;
    }

    .content-container {
        margin-top: 16px;
    }

    .vr {
        width: 1px;
        height: 43px;
        opacity: 0.2;
        background-color: $grey-blue;
    }

    .h-line {
        height: 1px;
        margin: 3px 40px 0px 40px;
        border-bottom: dashed 1px rgba($light-grey-blue, .5);
    }
}
