<div fxLayout="column"
     fxLayoutAlign="start stretch"
     fxFlex>

    <sbp-portfolio-navbar-container></sbp-portfolio-navbar-container>
    <!-- This is this view: https://zpl.io/VYrd0gn -->

    <!--- This is where this header/summary will go: -->
    <!-- https://casertaconcepts.atlassian.net/browse/SBMVP-112 -->

    <!-- This is where a control bar will go - one that controls the date ranges and other values used for the widget data -->
    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="nav-container"
         fxLayoutGap="12px"
         fxFlex>

        <sbp-portfolio-dashboard-nav-bar-container></sbp-portfolio-dashboard-nav-bar-container>
        <div class="vr"></div>
        <sbp-portfolio-dashboard-action-bar-container></sbp-portfolio-dashboard-action-bar-container>

    </div>

    <!-- This is where a container will go that holds widgets such as valuation, cashburn, market value, et al -->
    <div class="content-container"
         fxFlex>
        <router-outlet></router-outlet>
    </div>

    <!-- This is where an initiatives list and an updates list will go: -->
</div>
