<div fxLayout="column"
     fxLayoutAlign="start stretch"
     fxFlex>

    <table class="table"
           mat-table
           [dataSource]="dataSource"
           class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        <!-- -----------------------------------------MAIN COLUMNS -->
        <ng-container matColumnDef="logo">
            <th mat-header-cell
                *matHeaderCellDef></th>
            <td mat-cell
                *matCellDef="let element">
                <img matListAvatar
                     src="{{element.logo}}">
            </td>
        </ng-container>

        <ng-container matColumnDef="companyName">
            <th mat-header-cell
                *matHeaderCellDef>
                <div class="header-label">COMPANY NAME</div>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <div class="companyName">{{element.companyName}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="teamLeadName">
            <th mat-header-cell
                *matHeaderCellDef>
                <div class="header-label">DEAL TEAM LEAD</div>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <!-- AVATAR IS OOS MVP -->
                <!-- <div fxLayout="row"
                     fxLayoutAlign="start center"
                     fxLayoutGap="10px"
                     class="teamLeadName">
                    <img matListAvatar
                         src="{{element.teamLeadAvatar}}"> -->
                <div class="teamLeadName">{{element.teamLeadName}}</div>
                <!-- </div> -->
            </td>
        </ng-container>

        <ng-container matColumnDef="sectors">
            <th mat-header-cell
                *matHeaderCellDef>
                <div class="header-label">SECTOR</div>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                     fxLayoutGap="10px">
                    <div class="sectors">{{element.sectors[0]}}</div>
                    <div *ngIf="element.sectors.length > 1"
                         class="sectorsAdditional">{{element.sectorsAdditional.value}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell
                *matHeaderCellDef>
                <div class="header-label">COUNTRY</div>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <div fxLayout="row"
                     fxLayoutAlign="start center"
                     fxLayoutGap="10px">
                    <img matListAvatar
                         src="{{element.countryFlag}}">
                    <div class="country">{{element.country}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="invested">
            <th mat-header-cell
                *matHeaderCellDef>
                <div class="header-label">INVESTED ($M)</div>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <div class="invested">{{element.invested.toLocaleString('en', {useGrouping:true})}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="totalValue">
            <th mat-header-cell
                *matHeaderCellDef>
                <div class="header-label">VALUATION ($M)</div>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <div class="totalValue">{{element.totalValue.toLocaleString('en', {useGrouping:true})}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="moic">
            <th mat-header-cell
                *matHeaderCellDef>
                <div class="header-label">MOIC</div>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <div class="moic">{{element.moic}}x</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="irr">
            <th mat-header-cell
                *matHeaderCellDef>
                <div class="header-label">GROSS IRR</div>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <div class="irr">{{element.irr}}%</div>
            </td>
        </ng-container>

        <!--    ---------------------------- GROUPING COLUMNS ------------------------------------>
        <ng-container matColumnDef="a">
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
            <td mat-cell
                *matCellDef="let group">
                <img src="assets/image/up.svg"
                     *ngIf="group.expanded" />
                <img src="assets/image/down.svg"
                     *ngIf="!group.expanded" />
            </td>
        </ng-container>

        <ng-container matColumnDef="b">
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
            <td mat-cell
                *matCellDef="let group"
                class="group-name">
                <div fxLayout="row"
                     fxLayoutAlign="start start"
                     fxLayoutGap=5px>
                    <div class="group-name">{{group[groupByColumns[group.level-1]]}}</div>
                    <div class="group-count">({{group.count}})</div>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="c">
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
            <td mat-cell
                *matCellDef="let group">
            </td>
        </ng-container>
        <ng-container matColumnDef="d">
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
            <td mat-cell
                *matCellDef="let group">
            </td>
        </ng-container>
        <ng-container matColumnDef="e">
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
            <td mat-cell
                *matCellDef="let group">
            </td>
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
        </ng-container>
        <ng-container matColumnDef="f">
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
            <td mat-cell
                *matCellDef="let group">
                <div class="group-numbers">{{group.investedSum}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="g">
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
            <td mat-cell
                *matCellDef="let group">
                <div class="group-numbers">{{group.valuationSum}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="h">
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
            <td mat-cell
                *matCellDef="let group">
                <div class="group-numbers">{{group.moicSum}}x</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="i">
            <th mat-header-cell
                *matHeaderCellDef>
            </th>
            <td mat-cell
                *matCellDef="let group">
                <div class="group-irr">N/A</div>
            </td>
        </ng-container>

        <!-- --------------------------------MAIN HEADER AND ROW DEFINITIONS -->
        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            (click)="onRowClick(row)"
            *matRowDef="let row; columns: displayedColumns;"></tr>


        <!-- if we wanted to click on header for sort (click)="groupHeaderClick(row)"> </tr> -->

        <!-- --------------------------------GROUPING ROW DEFINITION -->
        <tr mat-row
            class="group-header"
            *matRowDef="let group; columns: displayedGroupColumns when: isGroup"
            (click)="groupHeaderClick(group)">
        </tr>

    </table>
</div>
