<!-- CONTAINER -->
<div class="container">
    <!-- TITLE ROW -->

    <div class="title">{{title}} ($M)</div>

    <!-- CHARTS ROW -->

    <!-- VALUE COLUMN -->
    <div class="value">{{value}}</div>
    <div class="py-label">{{pyLabel}} <span class="py-value">{{pyString}}</span></div>
    <div class="ic-label">{{icLabel}} <span class="ic-value">{{icString}}%</span></div>
    <div class="micro-timeline">
        <sbp-micro-timeline [data]="data"
                            [xAccessor]="dateAccessor"
                            [yAccessor]="financialsAccessor"
                            [projectedAccessor]="projectedAccessor"
                            [label]="title">
        </sbp-micro-timeline>
    </div>
    <div class="micro-py">
        <sbp-micro-bar [data]="data"></sbp-micro-bar>
    </div>
    <div class="micro-ic">
        <sbp-micro-bar [data]="data"></sbp-micro-bar>
    </div>
</div>
