<div #container
     class="card">
    <sbp-chart [dimensions]="dimensions">
        <svg:defs>
            <svg:g sbpGradient
                   [id]="gradientId"
                   [colors]="gradientColors"
                   x2="0"
                   y2="100%">
            </svg:g>
        </svg:defs>
        <svg:g class="display"
               sbpAxis
               dimension="x"
               [dimensions]="dimensions"
               [scale]="xScale"
               [formatTick]="formatDate"
               [label]="label">
        </svg:g>
        <svg:g class="display"
               sbpAxis
               dimension="y"
               [dimensions]="dimensions"
               [scale]="yScale"
               [label]="label">
        </svg:g>
        <svg:g sbpLine
               class="area"
               type="area"
               [data]="data"
               [xAccessor]="xAccessorScaled"
               [yAccessor]="yAccessorScaled"
               [y0Accessor]="y0AccessorScaled">
        </svg:g>
        <svg:g sbpDots
               class="dots"
               [data]="data"
               [keyAccessor]="keyAccessor"
               [xAccessor]="xAccessorScaled"
               [yAccessor]="yAccessorScaled">
        </svg:g>
        <svg:g sbpLine
               class="line"
               [data]="data"
               [xAccessor]="xAccessorScaled"
               [yAccessor]="yAccessorScaled"
               [colorAccessor]="colorAccessorScaled">
        </svg:g>

    </sbp-chart>
</div>
