<div #container
     class="card">
    <sbp-chart id="micro-timeline"
               [dimensions]="dimensions">

        <!--
        ///////////////////////////////////////////////////////////////////////////////////////////////
        // Chart axis and area definitions
        ///////////////////////////////////////////////////////////////////////////////////////////////
        -->

        <!-- Color gradient in the area under the line chart -->
        <svg:defs>
            <svg:g sbpGradient
                   [id]="gradientId"
                   [colors]="gradientColors"
                   x2="0"
                   y2="100%">
            </svg:g>
        </svg:defs>

        <!-- X Axis: Hidden -->
        <svg:g class="display"
               *ngIf="xAxisVisible"
               sbpAxis
               dimension="x"
               [dimensions]="dimensions"
               [scale]="xScale"
               [formatTick]=""
               [label]="label"
               [xAxisTickValues]="timePeriods"
               [xAxisVisible]="false">
        </svg:g>

        <!-- Y Axis: Hidden -->
        <svg:g sbpAxis
               dimension="y"
               [dimensions]="dimensions"
               [scale]="yScale"
               [label]=""
               [numberOfTicks]=""
               [yAxisVisible]="false">
        </svg:g>

        <!-- Area under the line chart -->
        <svg:g sbpLine
               [type]="'area'"
               [data]="historicalData"
               [xAccessor]="xAccessorScaled"
               [yAccessor]="yAccessorScaled"
               [y0Accessor]="y0AccessorScaled"
               fill="url(#{{ gradientId }})">
        </svg:g>

        <!--
        ///////////////////////////////////////////////////////////////////////////
        // Chart historical and projected lines and present value
        ///////////////////////////////////////////////////////////////////////////
        -->

        <ng-container *ngIf="actualsVis">

            <!-- Historical Blue Line -->
            <svg:g sbpLine
                   class="line"
                   [type]="'line'"
                   [valueType]="'actuals'"
                   [data]="historicalData"
                   [visible]="actualsVis"
                   [projectedAccessor]="projectedAccessor"
                   [xAccessor]="xAccessorScaled"
                   [yAccessor]="yAccessorScaled">
            </svg:g>

            <!-- Projected Extended Blue Line -- NOT WORKING -->
            <svg:g sbpLine
                   class="projected"
                   [type]="'line'"
                   [valueType]="'projected'"
                   [data]="projectedData"
                   [visible]="actualsVis"
                   [projectedAccessor]="projectedAccessor"
                   [xAccessor]="xAccessorScaled"
                   [yAccessor]="yAccessorScaled">
            </svg:g>

            <!-- Circle meeting point of hist and projected -->
            <svg:g sbpCircles
                   *ngIf="display || selectedValue"
                   class="dot"
                   [data]="actualsPresentValue"
                   [valueType]="'selected-value'"
                   [radius]="4"
                   [visible]="true"
                   [categoryAccessor]="categoryAccessor"
                   [keyAccessor]="keyAccessor"
                   [xAccessor]="xAccessorScaled"
                   [yAccessor]="yAccessorScaled">
            </svg:g>
        </ng-container>
    </sbp-chart>
</div>
