:host {
    height: 100%;

    .app-wrapper {
        height: 100%;
        min-height: 1500px; // TEMP

        // TODO: Fix this as it produces scroll bars for Windows Chrome
        //overflow: scroll;

        background-color: #ebeff5;
    }

    .modal-overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(#68758C, .3);
        position: fixed;
        float: left;
        top: 0px;
        left: 0px;
        z-index: 200;
    }

    sbp-slideout-container {
        z-index: 500;
    }
}
