:host {
    height: 100%;

    .app-wrapper {
        height: 100%;
        min-height: 1500px; // TEMP

        // TODO: Fix this as it produces scroll bars for Windows Chrome
        //overflow: scroll;

        background-color: #ebeff5;
    }
}
