@import "../../../assets/scss/variables";
@import "../../../assets/scss/pointers";
@import "../../../assets/scss/fonts/post-grotesk";

:host {
    //height: 100%;

    .tab {
        height: 100%;
        padding: 0 24px;
        color: $light-navy;
        @extend .hand-cursor;

        &.selected {
            opacity: 1;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background-color: rgba($light-navy, .15); //#124F8C26;
            border-bottom: 4px solid $light-navy;
        }

        .name {
            opacity: 1;
            font-family: PostGrotesk;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }

    }
}
