@import "../../../assets/scss/variables";

:host {
    //margin: 0 40px;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: $white;

    .item-container {
        padding: 24px;
    }

    .item-cell {
        padding: 11px 22px;
        min-width: 25%;
        min-height: 100px;
        border-right: 1px dashed $light-grey-blue;

        &:first-child {
            padding: 8px 22px; // Hack for the extra size created by the donut chart;
        }

        &:last-child {
            border-right: none;
        }

        &__label {
            width: 90%;
            font-family: PostGrotesk;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: $grey-blue;
            text-transform: uppercase;
            text-align: center;
        }

        &__label {
            font-family: PostGrotesk;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: $grey-blue;
            text-transform: uppercase;
        }

        &__value {
            width: 90%;
            padding: 0;
            text-align: center;
            font-family: PostGrotesk;
            font-size: 30px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            color: $black;

            &.chart {
                width: 100%;
            }

            .slash {
                font-size: 24px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.5px;
                color: $light-grey-blue;
            }

            &--invested {
                letter-spacing: -0.15px;
                color: rgba($dark-slate-blue, 1);
            }

            &--approved {
                letter-spacing: -0.5px;
                color: rgba($dark-sky-blue, 1);
            }

            &--total {
                font-weight: 300;
                letter-spacing: -0.5px;
                color: rgba($light-grey-blue, 1);
            }

            .chart {
                padding: 0;
            }


        }

        &__progress-bar {
            width: 90%;
            display: block;
        }
    }

    .legend {
        ont-family: PostGrotesk;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $dark;

        .legend_value {
            text-align: center;
            font-weight: 500;
        }

        .legend_text {
            .marker {
                min-width: 10px;
                height: 4px;
                border-radius: 1px;
                margin-right: 8px;
            }

            &.private .marker {
                background-color: $dark-sky-blue;
            }

            &.public .marker {
                background-color: $light-navy;
            }

            &.jv .marker {
                background-color: $dark-slate-blue;
            }

            &.exited .marker {
                background-color: $light-periwinkle;
            }
        }
    }
}
