<div fxLayout="row"
     fxLayoutAlign="start stretch"
     fxLayoutGap="3px"
     class="button-bar">

    <div>
        <button kendoButton
                id="actuals"
                class="chart-button"
                [togglable]="true"
                [ngClass]="{
                    'toggle-off': !actualsVis
                }"
                [imageUrl]="'../../../assets/image/legend-actual.svg'"
                (click)="toggleVisibility('actuals')">Actuals</button>
    </div>

    <div>
        <button kendoButton
                id="budget"
                class="chart-button"
                [togglable]="true"
                [ngClass]="{
                    'toggle-off': !budgetVis
                }"
                (click)="toggleVisibility('budget')"
                [imageUrl]="'../../assets/image/legend-mgmt-bud.svg'">Mgmt Bud</button>
    </div>

    <div>
        <button kendoButton
                id="forecast"
                class="chart-button"
                [togglable]="true"
                [ngClass]="{
                    'toggle-off': !forecastVis
                }"
                [imageUrl]="'../../assets/image/legend-mgmt-fcst.svg'"
                (click)="toggleVisibility('forecast')">Mgmt Fcst</button>
    </div>

</div>

<div id="multi-timeline"
     width="690"
     height="325"
     [ngClass]="pathStyles"></div>
