<div fxLayout="column"
     fxLayoutGap="20">
    <div class="board-members__label">SOFTBANK BOARD MEMBERS ({{ getBoardMemberCount() }})</div>
    <mat-list>
        <mat-list-item *ngFor="let boardMember of boardMembers">
            <div class="row"
                 fxLayout="row"
                 fxFlex="0 0 inherit"
                 fxLayoutAlign="start center"
                 fxLayoutGap="10px">
                <div class="team-member-avatar">
                    <sbp-team-member-avatar [teamMember]="boardMember"></sbp-team-member-avatar>
                </div>

                <div fxLayout="row"
                     fxFlex="0 0 30"
                     fxLayoutAlign="start center"
                     fxLayoutGap="5px">
                    <div class="row__name">{{boardMember.name | titlecase}} </div>
                    <!-- DESCOPED PER CM 8/2 -->
                    <!-- <div class="row__sinceDate">since {{boardMember.sinceDate}}</div> -->
                </div>
                <div fxLayout="row"
                     fxFlex="0 0 20"
                     fxLayoutAlign="start center"
                     fxLayoutGap="5px">
                    <mat-icon>domain</mat-icon>
                    <div class="row__company">{{boardMember.CompanyName | uppercase | sbpEllipsis: 25}}</div>
                </div>
                <div fxLayout="row"
                     fxFlex="0 0 15"
                     fxLayoutAlign="start center"
                     fxLayoutGap="5px">
                    <mat-icon>phone</mat-icon>
                    <div class="row__phone">{{boardMember.mobile}}</div>
                </div>
                <div fxLayout="row"
                     fxFlex="0 0 35"
                     fxLayoutAlign="start center"
                     fxLayoutGap="5px">
                    <mat-icon>email</mat-icon>
                    <div class="row__email">{{boardMember.email | uppercase | sbpEllipsis: 25}}</div>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>
