@import "../../../assets/scss/variables";

:host {
    .header-container {
        background-color: $light-periwinkle;
    }

    //font-family: Montserrat, sans-serif;
    color: $header-font;
    height: 44px;
    padding: 0 0 0 0;

    .logo-container {
        background-color: rgba($white, .5);
        padding: 10px 12px;

        img {
            width: 80px;
        }
    }

    .portfolio {
        padding-left: 24px;
    }
}

//.mat-toolbar {
//    background-color: $light-periwinkle;
//    //font-family: Montserrat, sans-serif;
//    color: $header-font;
//    height: 44px;
//    padding: 0 0 0 0;
//
//    .logo-container {
//        background-color: $white;
//        opacity: 0.5;
//        height: 100%;
//    }
//
//    .mat-button {
//        padding: 0 0 0 0;
//
//        &.cdk-mouse-focused {
//            &::after {
//                content: "";
//                position: absolute;
//                height: 5px;
//                background-color: $lighter-yellow;
//                bottom: 0px;
//                width: 100%;
//                left: 0px;
//            }
//        }
//    }
//
//    mat-icon {
//        width: inherit;
//
//        img {
//            width: 80px;
//        }
//    }
//
//    .portfolio {
//        font-family: PostGrotesk;
//        font-size: 16px;
//        font-weight: normal;
//        font-style: normal;
//        font-stretch: normal;
//        line-height: normal;
//        letter-spacing: 0.25px;
//        color: $light-navy;
//    }
//
//    .menu {
//        margin-left: 10px;
//
//        .combo {
//            width: 165px;
//        }
//
//        .mat-button {
//            position: relative;
//            border-radius: 0px;
//            padding: 0 0 0 0;
//            //font-family: Montserrat, sans-serif;
//
//            &.cdk-mouse-focused {
//                &::after {
//                    content: "";
//                    position: absolute;
//                    height: 5px;
//                    background-color: $lighter-yellow;
//                    bottom: 0px;
//                    width: 100%;
//                    left: 0px;
//                }
//            }
//        }
//    }
//
//    .user {
//        position: absolute;
//        right: 0;
//
//        .mat-button {
//            //font-family: Montserrat, sans-serif;
//
//            i {
//                font-size: 20px;
//            }
//        }
//    }
//
//}

.cdk-overlay-pane {
    margin-left: 120px;
}

.mat-menu-item {
    //font-family: Montserrat, sans-serif;
}
