<div fxLayout="row"
     fxLayoutAlign="start center"
     class="header-container">
    <div class="logo-container"
         routerLink="">
        <img src="assets/image/header-logo.png"
             alt="SoftBank">
    </div>

    <div fxLayout="row"
         fxLayoutGap="16px"
         fxLayoutAlign="space-between center"
         class="menu">
        <div class="portfolio hand-cursor"
             (click)="onPortfolioClick()">Portfolio
        </div>
        <div *ngIf="showCompanyCombo">&#47;</div>
        <sbp-iconized-searchable-combo *ngIf="showCompanyCombo"
                                       class="combo"
                                       [selectedItem]="selectedItem"
                                       [popupSettings]="popupSettings"
                                       (selectionChange)="onCompanySelect($event)"
                                       [listItems]="listItems">
        </sbp-iconized-searchable-combo>
    </div>
    <div fxFlex></div>
    <div class="user">

        <button mat-button
                [matMenuTriggerFor]="menu">
            Welcome John Doe <i class="icon-user"></i> <i class="icon-arrow-down5"></i>
        </button>

        <mat-menu #menu="matMenu"
                  class="user-mat">
            <button mat-menu-item
                    (click)="onLogin($event)">
                Login
            </button>
            <button mat-menu-item
                    (click)="onLogout($event)">
                Logout
            </button>
        </mat-menu>
    </div>
    <!--</mat-toolbar>-->
</div>
