@import "../../../../../assets/scss/variables.scss";

:host {

    line {

        &.label-display {
            text-anchor: middle;
            font-size: 0.8em;
            letter-spacing: 0.01em;
            fill: $light-grey-blue;
        }

        &.label {
            display: none;
        }
    }

    text {
        &.label &.y-axis-label-line {
            text-anchor: middle;
            font-size: 0.8em;
            letter-spacing: 0.01em;
            fill: $grey-blue;
        }

        &.selected-value {
            stroke: $light-navy;
            fill: $light-navy;
        }
    }



    // .tick {
    //     font-size: 0.9em;
    //     width: 4px;
    //     transition: all 0.3s ease-out;
    //     fill: #95a5a6;
    // }

    .x-tick {
        font-size: 0.9em;
        width: 4px;
        opacity: 0.75;
        transition: all 0.3s ease-out;
        fill: $grey-blue;

        &.selected-value {
            stroke: $light-navy;
            fill: $light-navy;
        }
    }

    .y-tick {
        width: 24px;
        height: 14px;
        font-family: PostGrotesk;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: $light-grey-blue;
    }

    .tick-display {
        font-size: 2em;
        width: 10px;
        transition: all 0.3s ease-out;
        fill: $grey-blue;
    }

    .tick-selected-value {
        fill: $light-navy;
        stroke: $light-navy;
    }


    .y .tick .y-label line {
        text-anchor: end;
        fill: $grey-blue;

    }

    .x .tick line.x-line {
        alignment-baseline: middle;
        // text-anchor: end;
        font-size: larger;
        fill: $grey-blue;


    }
}
