@import "../../../../../assets/scss/variables.scss";

:host {

    line {

        &.label-display {
            text-anchor: middle;
            font-size: 0.8em;
            letter-spacing: 0.01em;
            fill: $light-grey-blue;
        }

        &.label {
            display: none;
        }
    }

    text {
        &.label {
            text-anchor: middle;
            font-size: 0.8em;
            letter-spacing: 0.01em;
            fill: $grey-blue;
        }
    }

    .tick {
        font-size: 0.9em;
        width: 4px;
        transition: all 0.3s ease-out;
        fill: #95a5a6;
    }

    .tick-display {
        font-size: 2em;
        width: 10px;
        transition: all 0.3s ease-out;
        fill: $grey-blue;
    }

    .tick-selected-value {
        fill: $light-navy;
        stroke: $light-navy;
    }


    .y .tick .y-label line {
        text-anchor: end;
        fill: $grey-blue;

    }

    .x .tick line.x-line {
        alignment-baseline: middle;
        // text-anchor: end;
        font-size: larger;
        fill: $grey-blue;
    }

    // .axis path,
    // .axis line {
    //   fill: none;
    //   stroke:$grey-blue;
    //   shape-rendering: crispEdges;
    // }

}



// svgGroup.append("text").attr("class", "blue").attr("x", "240").attr("y", 0).attr("alignment-baseline", "middle").attr("text-anchor", "end").text(axisTypes[p]);
