<div class="container"
     fxLayout="row"
     fxLayoutAlign="space-between stretch">

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Logo
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div class="logo-container"
         fxFlex="100px"
         fxLayout="column"
         fxLayoutAlign="center stretch">
        <img class="logo"
             [src]="getCompanyLogo()"
             [alt]="getCompanyName()">
    </div>

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Company Name & % Ownership
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div fxLayout="column"
         fxLayoutAlign="start stretch"
         fxLayoutGap="5px"
         class="name-container">
        <div class="company-name"
             fxFlex="70%">{{ getCompanyName()}}</div>
        <div fxLayout="row"
             fxLayoutAlign="start center"
             fxLayoutGap="12px"
             fxFlex="30%"
             class="company-ownership-info">
            <div class="chart-container">
                <kendo-chart style="height: 35px; width: 35px; margin-right: -10px;">
                    <kendo-chart-series>
                        <kendo-chart-series-item type="donut"
                                                 field="value"
                                                 colorField="color"
                                                 [data]="chartData">
                        </kendo-chart-series-item>
                    </kendo-chart-series>
                    <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                </kendo-chart>
            </div>
            <div class="percent-owned">{{ getCompanyOwnership() }}% OWN</div>
            <div class="more-company-info hand-cursor"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 (click)="onSeeMoreCompanyInfo(company.id)">
                More company info
            </div>
        </div>
    </div>

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Team Members
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div fxLayout="column"
         fxLayoutAlign="start stretch"
         class="team-member-container">
        <div fxLayout="row"
             fxFlex="70%"
             fxLayoutAlign="center"
             class="team-member-avatar-container">
            <ng-container *ngFor="let teamMember of teamMembers">
                <sbp-team-member-avatar [teamMember]="teamMember"
                                        (click)="onTeamMemberClick(teamMember.id, company.id)">
                </sbp-team-member-avatar>
            </ng-container>
        </div>
        <div class="all-team-members hand-cursor"
             fxLayout="row"
             fxLayoutAlign="start center"
             (click)="onAllTeamMembersClick(company.id)">All Team Members</div>
    </div>

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Border
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div class="right-border"></div>

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Amount Deployed
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div fxLayout="column"
         fxLayoutAlign="space-between stretch"
         class="deployed-container">
        <div fxLayout="row"
             fxLayoutAlign="space-between stretch">
            <div class="deployed">Deployed</div>
            <div>&nbsp;</div>
            <div class="deployed-denomination">($M)</div>
        </div>
        <div class="deployed-value">{{ currentInvested | millions:'1.1-1' }}</div>
        <div class="deployed-total">/ {{ currentApproved | millions:'1.1-1' }}</div>
    </div>

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Border
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div class="right-border"></div>

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Valuation
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div fxLayout="row"
         fxLayoutGap="20px"
         class="valuation-container"
         (click)="onValuationClick(company.id)">
        <div fxLayout="column"
             fxLayoutAlign="space-between stretch">
            <div fxLayout="row"
                 fxLayoutAlign="space-between stretch">
                <div class="valuation">Valuation</div>
                <div>&nbsp;</div>
                <div class="valuation-denomination">($M)</div>
            </div>
            <div class="valuation-moic-gross">MOIC / Gross IRR</div>
        </div>

        <sbp-valuation [header]="'Current'"
                       [value]="currentTotalValue | number:'1.1-1'"
                       [moic]="currentMoic | number:'1.1-1'"
                       [grossIrr]="currentIrr | number:'1.1-1'">
        </sbp-valuation>

        <div class="trend"
             fxLayout="column"
             fxLayoutAlign="center stretch">
            <img src="assets/image/right-trend.svg">
        </div>

        <sbp-valuation [header]="'+1 year'"
                       [value]="plusOneTotalValue | number:'1.1-1'"
                       [moic]="plusOneMoic | number:'1.1-1'"
                       [grossIrr]="plusOneIrr | number:'1.1-1'">
        </sbp-valuation>

        <div class="trend"
             fxLayout="column"
             fxLayoutAlign="center stretch">
            <img src="assets/image/right-trend.svg">
        </div>

        <sbp-valuation [header]="'Exit'"
                       [value]="exitTotalValue | number:'1.1-1'"
                       [moic]="exitMoic | number:'1.1-1'"
                       [grossIrr]="exitIrr | number:'1.1-1'">
        </sbp-valuation>
    </div>

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Border
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div class="right-border"></div>

    <!--
    ////////////////////////////////////////////////////////////////////////////////////
    // Export
    ////////////////////////////////////////////////////////////////////////////////////
    -->
    <div class="export-container hand-cursor export"
         fxLayout="column"
         fxLayoutAlign="center center">
        <div class="disabled">Export</div>
    </div>

</div>
