@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/pointers";
@import "../../../../assets/scss/fonts/post-grotesk";

:host {

    font-family: PostGrotesk;

    .container {
        height: 112px;
        padding: 17px 45px 21px 45px;
        background-color: $white;

        .logo-container {
            .logo {
                border: 1px solid $light-periwinkle;
                border-radius: 6px;
                height: 60px;
                width: 60px;
            }
        }

        .company-name {
            color: $dark;
            font-size: 32px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        .percent-owned {
            color: $grey-blue;
            font-size: 10px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }

        .more-company-info {
            color: $dark-sky-blue;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            //margin-left: 12px;
        }

        .right-border {
            border-right: dashed 1px $light-grey-blue;
        }

        .name-container,
        .deployed-container,
        .export-container {
            height: 100%;
        }

        .all-team-members {
            color: $dark-sky-blue;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }

        .team-member-avatar {
            width: 32px;
            height: 32px;
            border: solid 1px $macaroni-and-cheese;
            border-radius: 50%;
            text-align: center;
            background-color: $pale-grey;
            //font-family: Rubik;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $light-navy;
            vertical-align: center;

            // TODO: BMR: Need to calc this
            margin-left: -5px;
        }

        .team-member-avatar-container {
            // TODO: BMR: Need to calc this
            max-width: 150px;
            overflow-x: hidden;
            margin-left: 15px;
        }

        .deployed,
        .valuation {
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: $grey-blue;
            text-transform: uppercase;
        }

        .deployed-denomination,
        .valuation-denomination,
        .deployed-total,
        .valuation-moic-gross {
            opacity: 0.75;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $grey-blue;
        }

        .deployed-value {
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $dark;
        }

        .deployed-total {
            opacity: 0.75;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $grey-blue;
        }

        .tag__img {
            width: 22px;
            height: 22px;
        }

        .trend {}

        .valuation-container {
            @extend .hand-cursor;
        }

        .export-container {
            vertical-align: center;
            text-align: center;
        }

        .export {
            width: 117px;
            height: 40px;
            text-transform: uppercase;
            border-radius: 6px;
            background-color: $light-navy;
            color: $white;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
        }
    }
}
