<div fxLayout="row"
     fxLayoutAlign="space-between start">
    <sbp-timeline *ngIf="allLineChartData"
                  fxFlex="50"
                  [xAxisTickValues]="tableDataHeaders"
                  [allLineChartData]="allLineChartData"
                  [selectedPeriod]="selectedPeriod"
                  [xAccessor]="dateAccessor"
                  [yAccessor]="yAccessor"
                  [title]="title">
    </sbp-timeline>

    <sbp-kpi-detail-table [tableDataHeaders]="tableDataHeaders"
                          fxFlex="50"
                          [tableDataAsOf]="tableDataAsOf"
                          [tableDataVsPq]="tableDataVsPq"
                          [tableDataVsPy]="tableDataVsPy"
                          [tableDataVsBud]="tableDataVsBud"
                          [tableDataVsForecast]="tableDataVsForecast"
                          [tableDataVsIcInitial]="tableDataVsIcInitial"
                          [tableDataVsIcLatest]="tableDataVsIcLatest">
    </sbp-kpi-detail-table>
</div>
