<div fxLayout="column"
     fxLayoutAlign="start stretch"
     fxFlex>
    <div #container
         #anchor
         class="kpi-container"
         fxLayout="row"
         fxLayoutAlign="space-between center">
        <div class="chart">
            <sbp-summary-widget [lineChartData]="revenueSummaryLineChartData"
                                [selectedPeriod]="selectedPeriod"
                                [barChartData1]="revenueSeries1BarChartData"
                                [barChartData2]="revenueSeries2BarChartData"
                                [title]="revenueTitle"
                                [denomination]="revenueDenomination"
                                [currencySymbol]="revenueCurrencySymbol"
                                [value]="revenueTotalValue| shortNumber"
                                [pyLabel]="revenueSeries1Label"
                                [pyValue]="revenueSeries1Value | shortNumber"
                                [icLabel]="revenueSeries2Label"
                                [icValue]="revenueSeries2Value | shortNumber"
                                (click)="onRevenueClick($event)">
            </sbp-summary-widget>
        </div>

        <div class="chart">
            <sbp-summary-widget [lineChartData]="ebitdaSummaryLineChartData"
                                [selectedPeriod]="selectedPeriod"
                                [barChartData1]="ebitdaSeries1BarChartData"
                                [barChartData2]="ebitdaSeries2BarChartData"
                                [title]="ebitdaTitle"
                                [denomination]="ebitdaDenomination"
                                [currencySymbol]="ebitdaCurrencySymbol"
                                [value]="ebitdaTotalValue| shortNumber"
                                [pyLabel]="ebitdaSeries1Label"
                                [pyValue]="ebitdaSeries1Value | shortNumber"
                                [icLabel]="ebitdaSeries2Label"
                                [icValue]="ebitdaSeries2Value | shortNumber"
                                (click)="onEbitdaClick($event)">
            </sbp-summary-widget>
        </div>

        <sbp-fx-exposure-container></sbp-fx-exposure-container>

        <sbp-sector-exposure-container></sbp-sector-exposure-container>
    </div>
    <!-- Widget Detail Row -->
    <sbp-portfolio-revenue-detail-container [@expandOutFromTop]="showRevenueDetail"></sbp-portfolio-revenue-detail-container>
    <sbp-portfolio-EBITDA-detail-container [@expandOutFromTop]="showEBITDADetail"></sbp-portfolio-EBITDA-detail-container>


    <div fxFlex></div>
</div>
