<!-- <mat-table *ngIf="dataa" [dataSource]="dataa">
        <ng-container *ngFor="let column of columns; let colIndex = index" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row[colIndex] }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table> -->

<table class="kpi-detail-table">

    <!--
    //////////////////////////////////////////////////////////////////
    // Header Row
    //////////////////////////////////////////////////////////////////
    -->

    <tr class="header">
        <th scope="col"></th>
        <th class="col-header cell"
            scope="col"
            *ngFor="let header of tableDataHeaders; let i=index; trackBy: trackByFn">{{ header }}</th>
    </tr>

    <!--
    //////////////////////////////////////////////////////////////////
    // Rows
    // TODO: BMR: Right now these rows rae hardcoded but I think they'll need to be dynamic for each scenario in the `tableData` from the API.
    //////////////////////////////////////////////////////////////////
    -->

    <tr>
        <th class="row-header"
            scope="row">
            <img src="assets/image/legend-actual.svg"
                 class="legend-actual">
            REVENUE
        </th>
        <td class="revenue-value cell"
            *ngFor="let asOf of tableDataAsOf; let i=index; trackBy: trackByFn">{{ asOf | shortNumber:'1.1-1'  }}</td>
    </tr>
    <tr *ngIf="vsPyDataShow">
        <th class="row-header"
            scope="row">
            vs PY
        </th>
        <td class="cell"
            *ngFor="let vsPy of tableDataVsPy; let i=index; trackBy: trackByFn"
            [ngClass]="
                {
                    'py-positive': vsPy > 0,
                    'py-negative': vsPy < 0,
                    'py-na': isUnknownValue(vsPy)
                }">
            {{ vsPy | percentOrNa: true }}
        </td>
    </tr>
    <tr *ngIf="vsPqDataShow">
        <th class="row-header"
            scope="row">
            vs PQ
        </th>
        <td *ngFor="let vsPq of tableDataVsPq; let i=index; trackBy: trackByFn"
            class="cell"
            [ngClass]="
                {
                    'py-positive': vsPq > 0,
                    'py-negative': vsPq < 0,
                    'py-na': isUnknownValue(vsPq)
                }">
            {{ vsPq | percentOrNa: true }}
        </td>
    </tr>
    <tr *ngIf="vsBudDataShow">
        <th class="row-header"
            scope="row">
            <img src="assets/image/legend-mgmt-bud.svg"
                 class="legend-actual">
            vs Mgmt Bud
        </th>
        <td class="cell"
            *ngFor="let vsBud of tableDataVsBud; let i=index; trackBy: trackByFn"
            [ngClass]="
                {
                    'py-positive': vsBud > 0,
                    'py-negative': vsBud < 0,
                    'py-na': isUnknownValue(vsBud)
                }">
            {{ vsBud | percentOrNa: true }}
        </td>
    </tr>
    <tr *ngIf="vsForecastDataShow">
        <th class="row-header"
            scope="row">
            <img src="assets/image/legend-mgmt-fcst.svg"
                 class="legend-actual">
            vs Mgmt Fcst
        </th>
        <td class="cell"
            *ngFor="let vsFC of tableDataVsForecast; let i=index; trackBy: trackByFn"
            [ngClass]="
                {
                    'py-positive': vsFC > 0,
                    'py-negative': vsFC < 0,
                    'py-na': isUnknownValue(vsFC)
                }">
            {{ vsFC | percentOrNa: true }}
        </td>
    </tr>
    <tr *ngIf="vsIcInitialDataShow">
        <th class="row-header"
            scope="row">
            vs IC Initial
        </th>
        <td class="cell"
            *ngFor="let vsICI of tableDataVsIcInitial; let i=index; trackBy: trackByFn"
            [ngClass]="
                {
                    'py-positive': vsICI > 0,
                    'py-negative': vsICI < 0,
                    'py-na': isUnknownValue(vsICI)
                }">
            {{ vsICI | percentOrNa: true }}
        </td>
    </tr>
    <tr *ngIf="vsIcLatestDataShow">
        <th class="row-header"
            scope="row">
            vs IC Latest
        </th>
        <td class="cell"
            *ngFor="let vsICL of tableDataVsIcLatest; let i=index; trackBy: trackByFn"
            [ngClass]="
                {
                    'py-positive': vsICL > 0,
                    'py-negative': vsICL < 0,
                    'py-na': isUnknownValue(vsICL)
                }">
            {{ vsICL | percentOrNa: true }}
        </td>
    </tr>

</table>
