@import "../../../../assets/scss/variables.scss";

:host {

    .kpi-detail-table {
        width: 98%;
        border-collapse: collapse;
    }

    .header {
        // border-bottom: solid 1px $light-grey-blue;
    }

    .cell {
        padding-right: 10px;
    }

    .revenue-value {
        font-family: PostGrotesk;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        text-align: right;
        color: $dark;
    }

    th.row-header {
        width: 140px;
        width: 60px;
        height: 18px;
        // opacity: 0.75;
        font-family: PostGrotesk;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $grey-blue;
    }

    th.col-header {
        width: 45px;
        // padding: 10px;
        opacity: 0.75;
        font-family: PostGrotesk;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: right;
        color: $grey-blue;

        &:nth-last-child(2) {
            color: $light-navy;
            border-bottom-color: solid bold $light-navy;
        }
    }

    th.current {
        width: 60px;
        height: 14px;
        opacity: 0.75;
        font-family: PostGrotesk;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: $light-navy;
        border-bottom-color: solid bold $light-navy;
    }

    tr {
        padding: 20px;
        height: 60px;
        width: 60px;
        text-align: right;
        border-bottom: dashed 1px $light-grey-blue !important;
    }



    tr.row-divider {
        width: 586px;
        height: 1px;
    }

    td {
        font-family: PostGrotesk;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: $grey-blue;

        &:nth-last-child(2) {
            background-color: rgba($pale-grey, .75);
            // text-align: center;
            // padding-right: 20px;
        }
    }

    td.py-positive,
    td.py-negative {
        font-family: PostGrotesk;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
    }

    td.py-positive {
        color: $jade;
    }

    td.py-negative {
        color: $pale-red;
    }

}
