<table class="kpi-detail-table">

    <!--
    //////////////////////////////////////////////////////////////////
    // Header Row
    //////////////////////////////////////////////////////////////////
    -->

    <tr class="header">
        <th scope="col"></th>
        <th class="col-header"
            scope="col"
            *ngFor="let header of revenueTableDataHeaders; let i=index; trackBy: trackByFn">{{ header }}</th>
    </tr>

    <!--
    //////////////////////////////////////////////////////////////////
    // Rows
    // TODO: BMR: Right now these rows rae hardcoded but I think they'll need to be dynamic for each scenario in the `tableData` from the API.
    //////////////////////////////////////////////////////////////////
    -->

    <tr class="row-divider">
        <th class="row-header"
            scope="row">
            <img src="assets/image/legend-actual.svg"
                 class="legend-actual">
            REVENUE
        </th>
        <td *ngFor="let asOf of revenueTableDataAsOf; let i=index; trackBy: trackByFn">{{ asOf | millions:'1.1-1' }}</td>
    </tr>
    <tr>
        <th class="row-header"
            scope="row">
            vs Bud
        </th>
        <td *ngFor="let vsBud of revenueTableDataVsBud; let i=index; trackBy: trackByFn"
            [ngClass]="
            {
                'py-positive': vsBud > 0,
                'py-negative': vsBud < 0
            }">
            {{ vsBud | positiveOrNegative | percent:'1.1-5' }}
        </td>
    </tr>
    <tr>
        <th class="row-header"
            scope="row">
            vs PQ
        </th>
        <td *ngFor="let vsPq of revenueTableDataVsPq; let i=index; trackBy: trackByFn"
            [ngClass]="
            {
                'py-positive': vsPq > 0,
                'py-negative': vsPq < 0
            }">
            {{ vsPq | positiveOrNegative | percent:'1.1-5' }}
        </td>
    </tr>

    <!--    <tr>-->
    <!--        <th class="row-header"-->
    <!--            scope="row">-->
    <!--            <img src="assets/image/legend-mgmt-bud.svg"-->
    <!--                 class="legend-mgmt-bud">-->
    <!--            vs Mgmt Budget-->
    <!--        </th>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--    </tr>-->
    <!--    <tr>-->
    <!--        <th class="row-header"-->
    <!--            scope="row">-->
    <!--            <img src="assets/image/legend-mgmt-fcst.svg"-->
    <!--                 class="legend-mgmt-fcst">-->
    <!--            vs Mgmt Forecast-->
    <!--        </th>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--        <td>hold</td>-->
    <!--    </tr>-->
</table>
