<table class="kpi-detail-table">
    <tr class="header">
        <th scope="col"></th>
        <th class="col-header"
            scope="col">4Q17 A</th>
        <th class="col-header"
            scope="col">1Q18 A</th>
        <th class="col-header"
            scope="col">2Q18 A</th>
        <th class="col-header"
            scope="col">3Q18 A</th>
        <th class="current"
            scope="col">4Q18 A</th>
        <th class="col-header"
            scope="col">1Q19 E</th>
    </tr>
    <tr class="row-divider">
        <th class="row-header"
            scope="row">
            <img src="assets/image/legend-actual.svg"
                 class="legend-actual">
            REVENUE
        </th>
        <td>141.2</td>
        <td>223.2</td>
        <td>123.3</td>
        <td>123.4</td>
        <td>123.5</td>
        <td>123.5</td>
    </tr>
    <tr>
        <th class="row-header"
            scope="row">vs PY</th>
        <td>+ 10.0%</td>
        <td>+ 25.3%</td>
        <td>+ 23.2%</td>
        <td>+ 5.0%</td>
        <td>+ 3.9%</td>
        <td>+ 10.0%</td>
    </tr>
    <tr>
        <th class="row-header"
            scope="row">
            vs PQ
        </th>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
    </tr>
    <tr>
        <th class="row-header"
            scope="row">
            <img src="assets/image/legend-mgmt-bud.svg"
                 class="legend-mgmt-bud">
            vs Mgmt Budget
        </th>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
    </tr>
    <tr>
        <th class="row-header"
            scope="row">
            <img src="assets/image/legend-mgmt-fcst.svg"
                 class="legend-mgmt-fcst">
            vs Mgmt Forecast
        </th>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
        <td>hold</td>
    </tr>
</table>
