<div class="example-wrapper">
    <!-- ICON IN THE BOX -->
    <kendo-dropdownlist [data]="data"
                        [textField]="textField"
                        [valueField]="valueField"
                        [valuePrimitive]="false"
                        [(ngModel)]="selectedItem"
                        [filterable]="showFilter"
                        (filterChange)="handleFilter($event)"
                        [popupSettings]="popupSettings"
                        (selectionChange)="onSelectionChange($event)"
                        class="list">
        <!-- THIS IS WHAT POPULATES THE COMBO AFTER SELECTION -->
        <ng-template kendoDropDownListValueTemplate
                     let-dataItem>
            <img class="icon"
                 matListAvatar
                 src="{{ mainIconSrc }}">
            <div class="label">
                {{ getDataItemLabel(dataItem) | sbpEllipsis: 10 }}
            </div>

        </ng-template>
        <!-- THIS IS THE LIST THAT DROPS DOWN -->
        <ng-template kendoDropDownListItemTemplate
                     let-dataItem>
            <img class="icon"
                 *ngIf="dataItem?.icon"
                 matListAvatar
                 src="{{dataItem?.icon}}">
            <div class="label">
                {{ getDataItemLabel(dataItem) | sbpEllipsis: 18}}
            </div>
        </ng-template>
        <ng-template kendoDropDownListNoDataTemplate>
            <div class="noDataMessage">Sorry, we couldn't find any results for "{{currentSearchValue}}"</div>
        </ng-template>
    </kendo-dropdownlist>

</div>
