/* You can add global styles to this file, and also import other style files */
//@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/variables";
@import "assets/scss/font-styles";
@import "assets/scss/pointers";
@import "assets/scss/kendo";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
    padding: 0 0 51px 0;
    background: $light-grey-blue; //#ebeff5;
    font-family: PostGrotesk, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    overflow: scroll;
}

html {
    overflow-x: hidden;
}

.disabled {
    @extend .not-allowed-cursor;
    opacity: .25 !important;
}

.my-select-panel-class {}
