@import "../../../assets/scss/variables";

:host {
    height: 100%;
    width: 100%;

    .mat-card {
        padding: 0;
        background-color: $white;
        height: 100%;
        width: 100%;
    }

    .mat-card-title {
        padding: 0 40px;
        background-color: $header-background;
        height: 79px;

        .pre-title {
            color: $grey-blue;
            font-family: PostGrotesk;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
        }

        .title {
            color: $dark;
            font-family: PostGrotesk;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
        }

        .item-count {}

        .close-btn {
            color: $dark;
        }
    }

    .mat-card-content {
        background-color: $white;
        height: 100%;
    }
}
