@import "../../../assets/scss/variables";

:host {
    height: 100%;

    .top-section {}

    .bottom-section {
        border-top: 1px dotted $light-grey-blue;
    }

    .main {
        padding-left: 20px;
        padding-top: 20px;
    }

    .description {
        height: 18px;
        font-family: PostGrotesk;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: slategray;
    }

    .tag {
        height: 18px;
        opacity: 0.5;
        border-radius: 2px;
        background-color: #DCE3F0;
    }

    .tag__img {
        width: 16px;
        height: 16px;
    }

    .tag__text {
        height: 13px;
        font-family: PostGrotesk;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: black;
    }

    .slack__text {
        height: 13px;
        font-family: PostGrotesk;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: $grey-blue;
    }

    .data {
        opacity: 0.5;
        border-bottom: solid 1px $grey-blue;
        border-bottom-style: dashed;
        padding-bottom: 20px;
    }

    .data__left-column {
        border-right: solid 1px $grey-blue;
        border-right-style: dashed;
    }

    .data__right-column {
        margin-left: 40px;
    }

    .data__label {
        // height: 18px;
        opacity: 0.75;
        font-family: PostGrotesk;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $grey-blue;
    }

    .data__value {
        // height: 18px;
        font-family: PostGrotesk;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $dark-gray;
    }
}
