<sbp-slideout-panel [preTitleText]="getCompanyName()"
                    [titleText]="'Company Info'"
                    (close)="onClose()">
    <div fxLayout="columnn"
         class="top-section">
        <!-- Top Section: Company Details -->
        <div fxLayout="column">
            Company Details Component
        </div>

        <!-- Bottom Section: Board Members List -->
        <div fxLayout="column"
             class="bottom-section">

        </div>
    </div>
</sbp-slideout-panel>
