<div fxLayout="row"
     fxLayoutAlign="space-between stretch"
     fxLayoutGap="10px">

    <!--
    //////////////////////////////////////////////////////////////////
    // Revenue Chart
    //////////////////////////////////////////////////////////////////
    -->
    <div fxFlex
         class="chart">

        <sbp-summary-widget class="hand-cursor"
                            *ngIf="!(revenueLoading$ | async)"
                            [selected]="displayRevenueDetail | async"
                            [lineChartData]="revenueSummaryLineChartData$ | async"
                            [selectedPeriod]="selectedPeriod$ | async"
                            [availablePeriods]="availablePeriods$ | async"
                            [barChartData1]="revenueChangeFromPriorPeriodBarChartData$ | async"
                            [barChartData2]="revenueChangeFromPriorBudgetBarChartData$ | async"
                            [title]="'Revenue'"
                            [denomination]="selectedCurrencyCode"
                            [currencySymbol]="selectedCurrencySymbol"
                            [value]="revenueAsOf$ | async"
                            [pyLabel]="'vs PY'"
                            [pyValue]="revenueChangeFromPriorPeriod$ | async"
                            [icLabel]="icLabel"
                            [icValue]="revenueChangeFromPriorBudget$ | async"
                            (click)="onRevenueClick()">
        </sbp-summary-widget>

        <sbp-ghost-summary-widget *ngIf="revenueLoading$ | async"
                                  [selected]="displayRevenueDetail | async">
        </sbp-ghost-summary-widget>
    </div>

    <!--
    //////////////////////////////////////////////////////////////////
    // EBITDA Chart
    //////////////////////////////////////////////////////////////////
    -->
    <div fxFlex
         class="chart">

        <sbp-summary-widget class="hand-cursor"
                            *ngIf="!(ebitdaLoading$ | async)"
                            [selected]="displayEbitdaDetail | async"
                            [lineChartData]="ebitdaSummaryLineChartData$ | async"
                            [selectedPeriod]="selectedPeriod$ | async"
                            [barChartData1]="ebitdaChangeFromPriorPeriodBarChartData$ | async"
                            [barChartData2]="ebitdaChangeFromPriorBudgetBarChartData$ | async"
                            [title]="'EBITDA'"
                            [denomination]="selectedCurrencyCode"
                            [currencySymbol]="selectedCurrencySymbol"
                            [value]="ebitdaAsOf$ | async"
                            [pyLabel]="'vs PY'"
                            [pyValue]="ebitdaChangeFromPriorPeriod$ | async"
                            [icLabel]="icLabel"
                            [icValue]="ebitdaChangeFromPriorBudget$ | async"
                            (click)="onEbitdaClick()">
        </sbp-summary-widget>

        <sbp-ghost-summary-widget *ngIf="ebitdaLoading$ | async"
                                  [selected]="displayEbitdaDetail | async">
        </sbp-ghost-summary-widget>
    </div>

    <!--
    //////////////////////////////////////////////////////////////////
    // Cash
    //////////////////////////////////////////////////////////////////
    -->
    <sbp-company-cash-widget fxFlex
                             [cash]="cashAsOf$ | async">
    </sbp-company-cash-widget>

    <!--
    //////////////////////////////////////////////////////////////////
    // Cash Runway in Months
    //////////////////////////////////////////////////////////////////
    -->
    <sbp-company-cash-runway-widget fxFlex
                                    [runwayInMonths]="cashRunwayInMonths$ | async">
    </sbp-company-cash-runway-widget>

</div>
