<div #container
     #anchor
     class="kpi-container"
     fxLayout="row"
     fxLayoutAlign="space-between center">

    <!--
    //////////////////////////////////////////////////////////////////
    // Revenue Chart
    //////////////////////////////////////////////////////////////////
    -->
    <div class="chart">
        <sbp-summary-widget class="hand-cursor"
                            *ngIf="!(revenueLoading$ | async)"
                            [selected]="displayRevenueDetail | async"
                            [lineChartData]="revenueSummaryLineChartData$ | async"
                            [selectedPeriod]="selectedPeriod$ | async"
                            [availablePeriods]="availablePeriods$ | async"
                            [barChartData1]="revenueChangeFromPriorPeriodBarChartData$ | async"
                            [barChartData2]="revenueChangeFromPriorBudgetBarChartData$ | async"
                            [title]="'Revenue'"
                            [denomination]="selectedCurrencyCode"
                            [currencySymbol]="selectedCurrencySymbol"
                            [value]="revenueAsOf$ | async"
                            [pyLabel]="'vs PY'"
                            [pyValue]="revenueChangeFromPriorPeriod$ | async"
                            [icLabel]="icLabel"
                            [icValue]="revenueChangeFromPriorBudget$ | async"
                            (click)="onRevenueClick()">
        </sbp-summary-widget>

        <sbp-ghost-summary-widget *ngIf="revenueLoading$ | async"
                                  [@fadeIn]="4"
                                  [selected]="displayRevenueDetail | async">
        </sbp-ghost-summary-widget>

    </div>

    <!--
    //////////////////////////////////////////////////////////////////
    // EBITDA Chart
    //////////////////////////////////////////////////////////////////
    -->
    <div class="chart">
        <sbp-summary-widget class="hand-cursor"
                            *ngIf="!(ebitdaLoading$ | async)"
                            [selected]="displayEbitdaDetail | async"
                            [lineChartData]="ebitdaSummaryLineChartData$ | async"
                            [selectedPeriod]="selectedPeriod$ | async"
                            [barChartData1]="ebitdaChangeFromPriorPeriodBarChartData$ | async"
                            [barChartData2]="ebitdaChangeFromPriorBudgetBarChartData$ | async"
                            [title]="'EBITDA'"
                            [denomination]="selectedCurrencyCode"
                            [currencySymbol]="selectedCurrencySymbol"
                            [value]="ebitdaAsOf$ | async"
                            [pyLabel]="'vs PY'"
                            [pyValue]="ebitdaChangeFromPriorPeriod$ | async"
                            [icLabel]="icLabel"
                            [icValue]="ebitdaChangeFromPriorBudget$ | async"
                            (click)="onEbitdaClick()">
        </sbp-summary-widget>

        <sbp-ghost-summary-widget *ngIf="ebitdaLoading$ | async"
                                  [selected]="displayEbitdaDetail | async">
        </sbp-ghost-summary-widget>
    </div>

    <!--
    //////////////////////////////////////////////////////////////////
    // Cash
    //////////////////////////////////////////////////////////////////
    -->
    <div class="chart">
        <div class="cash-runway-container"
             fxLayout="column"
             fxLayoutAlign="start stretch">
            <div class="box title">Cash ($M)</div>
            <div class="value"
                 fxLayout="column"
                 fxLayoutAlign="center center"
                 fxFlex>
                <div fxLayout="row"
                     fxLayoutAlign="center center"
                     fxLayoutGap="16px"><span>{{ cashAsOf$ | async | shortNumber }}</span></div>
            </div>
        </div>
    </div>

    <!--
    //////////////////////////////////////////////////////////////////
    // Cash Runway in Months
    //////////////////////////////////////////////////////////////////
    -->
    <div class="chart">
        <div class="cash-runway-container"
             fxLayout="column"
             fxLayoutAlign="start stretch">
            <div class="box title">Cash Runway ($M)</div>
            <div class="value"
                 fxLayout="column"
                 fxLayoutAlign="center center"
                 fxFlex>
                <div fxLayout="row"
                     fxLayoutAlign="center center"
                     fxLayoutGap="16px"><img src="/assets/image/on-track.svg"><span>{{ cashRunwayInMonths$ | async }}</span><span class="months">months</span></div>
            </div>
        </div>
    </div>

</div>
