@import "../../../assets/scss/variables.scss";

:host {
    margin: 0 40px;
    padding: 0;

    .content-chart {
        width: 739px;
    }

    .content-table {
        width: 605px
    }

    .chart {
        height: 171px;
    }
}
