<sbp-slideout-panel [preTitleText]="companyName"
                    [titleText]="'Valuation'"
                    (close)="onClose()">
    <!-- MAIN COLUMN -->
    <div class="main-container">
        <table mat-table
               [dataSource]="dataSource"
               class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            <!-- Position Column -->
            <ng-container matColumnDef="label">
                <th mat-header-cell
                    *matHeaderCellDef></th>
                <td mat-cell
                    *matCellDef="let element">
                    <div class="label">{{element.label}}</div>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="icInitial">
                <th mat-header-cell
                    *matHeaderCellDef>
                    <div fxLayout="column"
                         fxLayoutAlign="start end"
                         fxLayoutGap="10px"
                         [ngClass]="{ 'icInitial': icFollowOn1Present, 'icFollowOn1': !icFollowOn1Present}">
                        <div class="date-label-icInitial">{{icInitialDate | date : 'MMM yy' }}</div>
                        <div>IC INITIAL</div>
                    </div>
                </th>
                <td mat-cell
                    *matCellDef="let element">
                    <div [ngClass]="{ 'icInitial': icFollowOn1Present, 'icFollowOn1': !icFollowOn1Present}">{{element.icInitial}}</div>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="icFollowOn1">
                <th mat-header-cell
                    *matHeaderCellDef>
                    <div fxLayout="column"
                         fxLayoutAlign="start end"
                         fxLayoutGap="10px"
                         class="icFollowOn1">
                        <div class="date-label-icFollowOn1">{{icFollownOn1Date | date : 'MMM yy' }}</div>
                        <div>IC LATEST</div>
                    </div>
                </th>
                <td mat-cell
                    *matCellDef="let element">
                    <div class="icFollowOn1">{{element.icFollowOn1}}</div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actual">
                <th mat-header-cell
                    *matHeaderCellDef>
                    <div fxLayout="column"
                         fxLayoutAlign="start end"
                         fxLayoutGap="10px"
                         class="actual">
                        <div class="date-label-actual">{{actualDate | date : 'MMM yy' }}</div>
                        <div class="actual-label">CURRENT</div>
                    </div>
                </th>
                <td mat-cell="actual"
                    *matCellDef="let element">
                    <div class="actual">{{element.actual}}</div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="yearPlus1">
                <th mat-header-cell
                    *matHeaderCellDef>
                    <div fxLayout="column"
                         fxLayoutAlign="start end"
                         fxLayoutGap="10px"
                         class="yearPlus1">
                        <div class="date-label">{{yearPlus1Date | date : 'MMM yy' }}</div>
                        <div>+1 YEAR</div>
                    </div>
                </th>
                <td mat-cell
                    *matCellDef="let element">
                    <div class="yearPlus1">{{element.yearPlus1}}</div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="exit">
                <th mat-header-cell
                    *matHeaderCellDef>
                    <div fxLayout="column"
                         fxLayoutAlign="start end"
                         fxLayoutGap="10px"
                         class="exit">
                        <div class="date-label">{{exitDate | date : 'MMM yy' }}</div>
                        <div>EXIT</div>
                    </div>
                </th>
                <td mat-cell
                    *matCellDef="let element">
                    <div class="exit">{{element.exit}}</div>
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</sbp-slideout-panel>
