<sbp-filterable-panel [title]="'Initiatives'"
                      [itemCount]="(initiatives || []).length">

    <div fxLayout="column"
         fxFlex
         fxLayoutAlign="start stretch"
         class="items-list">
        <ng-container *ngFor="let item of initiatives; trackBy: trackByFn">
            <!-- BEGIN TEMPLATE FOR LOOP -->
            <div class="item"
                 fxLayout="row"
                 fxLayoutAlign="start start"
                 fxLayoutGap="16px">
                <!-- LEFT SIDE -->
                <div class="status-container">
                    <img [src]="getStatusImage(item)"
                         class="status-icon">
                </div>

                <!-- RIGHT SIDE -->
                <div class="content"
                     fxLayout="column"
                     fxLayoutAlign="start stretch"
                     fxFlex
                     fxLayoutGap="3px">
                    <div class="title-container"
                         fxLayoutAlign="start center"
                         fxLayoutGap="8px">
                        <div class="title">{{ item.title }} ({{ item.initiativeOwner.firstName }} {{ item.initiativeOwner.lastName }})</div>
                    </div>
                    <div class="description">
                        {{ item.description }}
                    </div>
                </div>
            </div>
            <!-- END TEMPLATE FOR LOOP -->
        </ng-container>
    </div>
    <div class="more-items"
         (click)="onSeeMore()">see all {{ (initiatives || []).length }} initiatives</div>
</sbp-filterable-panel>
